.idea
.vscode

*_Spoiler.txt
*.bmbp
*.pyc
*.pyd
*.sfc
*.wixobj
*.lck
*multidata
*multisave

build
bundle/components.wxs
dist
README.html
.vs/
EnemizerCLI/
.mypy_cache/
RaceRom.py
weights/
/MultiMystery/
/Players/
/QUsb2Snes/
/options.yaml
/config.yaml
/uploads/
/logs/
_persistent_storage.yaml
mystery_result_*.yaml
/db.db3
