.idea
.vscode
*_Spoiler.txt
*.bmbp
*.pyc
*.sfc
*.wixobj
build
bundle/components.wxs
dist
README.html
.vs/
*multidata
*multisave
EnemizerCLI/
.mypy_cache/
RaceRom.py
weights/
/MultiMystery/
/Players/
/QUsb2Snes/
/options.yaml
