.body{
    display: flex;
    background-color: rgba(0, 0, 0, 0.33);
    font-family: LexendDeca-Light, sans-serif;
    font-size: 19px;
}

body{
    background-image: none;
    background-color: rgba(0, 0, 0, 0.15);
}

div.body{
    max-width: 100%;
}

.simple{
    background-color: rgba(0, 0, 0, 0.33);
}

a{
    color: #9ad1ea;
}

a code{
    color: #9ad1ea;
}

a:visited{
    color: #FFAAAA;
}

dl.field-list > dd{
    background-color: gray;
}

.documentwrapper img{
    max-width: 100%;
    border-radius: 6px;
}

.documentwrapper p{
    margin-top: 0;
}

.documentwrapper h1{
    font-size: 52px;
    font-weight: normal;
    font-family: LondrinaSolid-Regular, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    text-shadow: 1px 1px 4px #000000;
}

.documentwrapper h2{
    font-size: 38px;
    font-weight: normal;
    font-family: LondrinaSolid-Light, sans-serif;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px #000000;
}

.documentwrapper h3{
    font-size: 26px;
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    text-align: left;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.5rem;
}

.documentwrapper h4{
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 24px;
}

.documentwrapper h5{
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    font-size: 22px;
    cursor: pointer;
}

.documentwrapper h6{
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    font-size: 20px;
    cursor: pointer;;
}

.documentwrapper h4, .documentwrapper h5,.documentwrapper h6{
    margin-bottom: 0.5rem;
}

.documentwrapper ul{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.documentwrapper ol{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.documentwrapper li{

}

.documentwrapper table{
    border-collapse: collapse;
    margin-bottom: 0.5rem;
}

.documentwrapper table th{
    text-align: left;
    padding: 10px;
    border: 1px solid white;
    font-size: 20px;
    font-family: LexendDeca-Regular, sans-serif;
}

.documentwrapper table td{
    border: 1px solid white;
    text-align: left;
    padding: 10px;
}

.documentwrapper pre{
    overflow-x: auto;
}

strong{
    font-family: LexendDeca-Medium, sans-serif;
    font-weight: normal;
}
