<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="static/common.css">
  <link rel="stylesheet" type="text/css" href="static/frontPage.css">

  <title>Free Enterprise</title>
</head>

<body>
  <div id="cover" class="front">
  </div>

  <div id="cover-title">
    <div class="tint">
      <div class="content-width">
        <h1>
          FF4 : Free Enterprise
        </h1>
        <h3>
          ...is an <em>open-world romhack</em> and <em>scavenger hunt randomizer</em> 
          for Final Fantasy IV for the SNES (originally released in English as 
          Final Fantasy II).
        </h3>
      </div>
    </div>
  </div>

  <div id="summary" class="content-section">
    <p>
      In Free Enterprise, you are given the airship at the beginning of the 
      game, and you may complete whatever quests are available to you in any 
      order. Further, the Pass opens a passage in Toroia that will take you 
      directly to Zeromus, whenever you are ready to defeat him.
    </p>
    <p>
      Additional options allow for randomization of key items, characters, 
      treasures, shops, and more.
    </p>
    <p>
      There are some important gameplay changes from the original game to note; 
      the NPCs in the training room cover the essentials, and a full detailed 
      list of Free Enterprise's changes can be found at the
      <a href="https://wiki.ff4fe.com">Free Enterprise Wiki</a>.
    </p>
  </div>

  <div id="actions" class="content-section">
    <a href="/make">
      <div id="action-play" class="action">
        <div class="name">Randomizer</div>
        <div class="desc">
          Generate a random seed and dive into Free Enterprise
        </div>
      </div>
    </a>
    <a href="https://wiki.ff4fe.com/">
      <div id="action-resources" class="action">
        <div class="name">Wiki</div>
        <div class="desc">
          For documentation, guides/resources, and racing info
        </div>
      </div>
    </a>
    <a href="https://discord.gg/AVeUqkb" target="_blank">
      <div id="action-discord" class="action">
        <div class="name">Join the Discord</div>
        <div class="desc">
          Talk FE with the community and hear the latest news
        </div>
      </div>
    </a>
  </div>

  <div id="art-credit" class="content-section">
    (Home page illustration by <a href="https://dicesms.tumblr.com/" target="_blank">Stephanie Sybydlo</a>.)
  </div>

  <script type="text/javascript" src="script/footer.js"></script>
</body>

</html>
