      <div class="metaSettingsSubsection">
        <div class="metaSetting">
          <input id="test_quickstart" type="checkbox" checked>
          <label for="test_quickstart">Skip opening cutscene</label>
        </div>
        <div class="metaSetting">
          <input id="test_open" type="checkbox" checked>
          <label for="test_open">Begin with open underworld, hook, hovercraft, and Big Whale</label>
        </div>
        <div class="metaSetting">
          <input id="test_characters" type="checkbox" checked>
          <label for="test_characters">All characters available at Mysidia (forces Cbye flag off)</label>
        </div>
        <div class="metaSetting">
          <input id="test_items" type="checkbox" checked>
          <label for="test_items">Prefill inventory</label>
        </div>
        <div class="metaSetting">
          <input id="test_gp" type="checkbox" checked>
          <label for="test_gp">Start with max GP</label>
        </div>
        <div class="metaSetting">
          <input id="test_noboss" type="checkbox">
          <label for="test_noboss">Skip boss battles</label>
        </div>
      </div>
      <div class="metaSettingsSubsection">
        <div class="metaSetting">
          Force boss:
          <select id="test_forceboss_boss">
            <option value=''></option>
            <option value='dmist'>D. Mist</option>
            <option value='officer'>Kaipo Officer</option>
            <option value='octomamm'>Octomamm</option>
            <option value='antlion'>Antlion</option>
            <option value='waterhag'>Waterhag</option>
            <option value='mombomb'>Mombomb</option>
            <option value='fabulgauntlet'>Fabul Gauntlet</option>
            <option value='milon'>Milon</option>
            <option value='milonz'>Milon Z</option>
            <option value='mirrorcecil'>D. Knight</option>
            <option value='guard'>Baron Guards</option>
            <option value='karate'>Karate</option>
            <option value='baigan'>Baigan</option>
            <option value='kainazzo'>Kainazzo</option>
            <option value='darkelf'>Dark Elf</option>
            <option value='magus'>Magus Sisters</option>
            <option value='valvalis'>Valvalis</option>
            <option value='calbrena'>Calbrena</option>
            <option value='golbez'>Golbez</option>
            <option value='lugae'>Lugae</option>
            <option value='darkimp'>Dark Imps</option>
            <option value='kingqueen'>King/Queen Eblan</option>
            <option value='rubicant'>Rubicant</option>
            <option value='evilwall'>Evilwall</option>
            <option value='asura'>Asura</option>
            <option value='leviatan'>Leviatan</option>
            <option value='odin'>Odin</option>
            <option value='bahamut'>Bahamut</option>
            <option value='elements'>Elements</option>
            <option value='cpu'>CPU</option>
            <option value='paledim'>Pale Dim</option>
            <option value='wyvern'>Wyvern</option>
            <option value='plague'>Plague</option>
            <option value='dlunar'>D. Lunars</option>
            <option value='ogopogo'>Ogopogo</option>
          </select>
          in
          <select id="test_forceboss_slot">
            <option value=''></option>
            <option value='dmist_slot'>D. Mist position</option>
            <option value='officer_slot'>Kaipo Officer position</option>
            <option value='octomamm_slot'>Octomamm position</option>
            <option value='antlion_slot'>Antlion position</option>
            <option value='mombomb_slot'>Mombomb position</option>
            <option value='fabulgauntlet_slot'>Fabul gauntlet position</option>
            <option value='milon_slot'>Milon position</option>
            <option value='milonz_slot'>Milon Z position</option>
            <option value='mirrorcecil_slot'>D. Knight position</option>
            <option value='guard_slot'>Baron Guards position</option>
            <option value='karate_slot'>Karate position</option>
            <option value='baigan_slot'>Baigan position</option>
            <option value='kainazzo_slot'>Kainazzo position</option>
            <option value='darkelf_slot'>Dark Elf position</option>
            <option value='magus_slot'>Magus Sisters position</option>
            <option value='valvalis_slot'>Valvalis position</option>
            <option value='calbrena_slot'>Calbrena position</option>
            <option value='golbez_slot'>Golbez position</option>
            <option value='lugae_slot'>Lugae position</option>
            <option value='darkimp_slot'>Dark Imps position</option>
            <option value='kingqueen_slot'>King/Queen Eblan position</option>
            <option value='rubicant_slot'>Rubicant position</option>
            <option value='evilwall_slot'>EvilWall position</option>
            <option value='asura_slot'>Asura position</option>
            <option value='leviatan_slot'>Leviatan position</option>
            <option value='odin_slot'>Odin position</option>
            <option value='bahamut_slot'>Bahamut position</option>
            <option value='elements_slot'>Elements position</option>
            <option value='cpu_slot'>CPU position</option>
            <option value='paledim_slot'>Pale Dim position</option>
            <option value='wyvern_slot'>Wyvern position</option>
            <option value='plague_slot'>Plague position</option>
            <option value='dlunar_slot'>D. Lunar position</option>
            <option value='ogopogo_slot'>Ogopogo position</option>
          </select>
        </div>
        <div class="metaSettingDescription">
          When enabled, speaking to the soldier outside the Baron Training Room
          will directly trigger this battle. This option will force the Bstandard 
          flag to be enabled.
        </div>
      </div>
      <div class="metaSettingsSubsection">
        <div class="metaSetting">
          Force -hobs spell:
          <select id="test_hobs">
            <option value=""></option>
            <option value='imp'>Imp</option>
            <option value='bomb'>Bomb</option>
            <option value='cocka'>Cocka</option>
            <option value='mage'>Mage</option>
            <option value='shiva'>Shiva</option>
            <option value='indra'>Indra</option>
            <option value='jinn'>Jinn</option>
            <option value='titan'>Titan</option>
            <option value='mist'>Mist</option>
            <option value='sylph'>Sylph</option>
            <option value='odin'>Odin</option>
            <option value='asura'>Asura</option>
          </select>
        </div>
        <div class="metaSettingDescription">
          This option forces the -vanilla:hobs flag to be disabled.
        </div>
      </div>

    <script type="text/javascript">
      function _getSelectValue(elemId)
      {
        var elem = document.getElementById(elemId);
        return elem.options[elem.selectedIndex].value;
      }

      function getTestSettings()
      {
        var settings = {};

        var SWITCHES = ['quickstart', 'open', 'characters', 'items', 'gp', 'noboss'];
        for (var i = 0; i < SWITCHES.length; i++)
        {
          var sw = SWITCHES[i];
          if(document.getElementById("test_" + sw).checked)
          {
            settings[sw] = true;
          }
        }

        var testBoss = _getSelectValue("test_forceboss_boss");
        var testBossSlot = _getSelectValue("test_forceboss_slot");
        if(testBoss != "" && testBossSlot != "")
        {
          settings['boss'] = {[testBossSlot] : testBoss};
        }

        var hobs = _getSelectValue("test_hobs");
        if(hobs != "")
        {
          settings['hobs'] = hobs;
        }

        return settings;
      }
    </script>
