html{
    padding-top: 110px;
}

#base-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: auto 90px;
    width: calc(100% - 20px);
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: HyliaSerif, sans-serif;
    padding: 10px;
    line-height: 2rem;
    z-index: 9999;
}

#base-header #base-header-left{
    display: flex;
    flex-direction: row;
}

#base-header #base-header-left a{
    margin-right: 0;
    padding-right: 7px;
}

#base-header #site-title{
    margin-right: 7px;
}

#base-header #site-title img{
    width: 40px;
    height: 40px;
}

#base-header a{
    color: #2f6b83;
    text-decoration: none;
    cursor: pointer;
    margin-right: 1.2rem;
    font-size: 1.2rem;
}
