html{
    background-image: url('../../static/backgrounds/grass/grass-0007-large.png');
    background-repeat: repeat;
    background-size: 650px 650px;
}

#base-header {
    background: url('../../static/backgrounds/header/grass-header.png') repeat-x;
}
