html{
    padding-top: 110px;
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

#base-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: auto 90px;
    width: calc(100% - 20px);
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    line-height: 2rem;
    z-index: 9999;
}

#base-header #base-header-left{
    display: flex;
    flex-direction: row;
}

#base-header #base-header-left a{
    margin-right: 0;
    padding-right: 7px;
}

#base-header-right{
    margin-top: 4px;
}

#base-header #site-title{
    margin-right: 7px;
}

#base-header #site-title img{
    height: 38px;
    margin-top: 4px;
}

#base-header a, #base-header-mobile-menu a{
    color: #2f6b83;
    text-decoration: none;
    cursor: pointer;
    margin-right: 1.2rem;
    font-size: 22px;
    font-family: LondrinaSolid-Light, sans-serif;
    text-transform: uppercase;
}

#base-header-right-mobile{
    display: none;
    margin-top: 2rem;
    margin-right: 1rem;
}

#base-header-mobile-menu{
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    overflow-y: auto;
    z-index: 10000;
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: absolute;
    top: 7rem;
    right: 0;
    padding-top: 1rem;
}

#base-header-mobile-menu a{
    padding: 4rem 2rem;
    font-size: 5rem;
    line-height: 5rem;
    color: #699ca8;
    border-top: 1px solid #d3d3d3;
}

#base-header-right-mobile img{
    height: 3rem;
}

@media all and (max-width: 1580px){
    html{
        padding-top: 260px;
        scroll-padding-top: 230px;
    }

    #base-header{
        height: 200px;
        background-size: auto 200px;
    }

    #base-header #site-title img{
        height: calc(38px * 2);
        margin-top: 30px;
        margin-left: 20px;
    }

    #base-header-right{
        display: none;
    }

    #base-header-right-mobile{
        display: unset;
    }
}
