html{
    background-image: url("../../static/backgrounds/dirt.png");
    background-repeat: repeat;
    background-size: 400px 400px;
}

body{
    color: #ffffff;
}

#base-header{
    background: url('../../static/backgrounds/header/dirt-header.png') repeat-x;
}

.markdown {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

h1{
    color: #ffffff;
}

h2{
    color: #c8e79f;
}

h3, h4, h5,h6{
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

table th{

}

table td{

}

a{
    color: #ffd891;
}

pre{
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    background-color: #d1c3ab;
    border: 1px solid #2a6c2f;
    border-radius: 6px;
    color: #000000;
}

pre code{
    border: none;
    display: block;
}

code{
    background-color: #d1c3ab;
    border-radius: 4px;
    border: 1px solid #5c4c31;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}
