html{
    background-image: url("../../static/backgrounds/party-time.png");
    background-repeat: repeat;
    background-size: 350px 350px;
}

body{
    color: #ffffff;
}

#base-header {
    background: url('../../static/backgrounds/header/party-time-header.png') repeat-x;
}

.markdown {
    background-color: rgba(26, 5, 48, 0.8) !important;
}

h1{
    color: #ffffff;
}

h2{
    color: #ff5884;
}

h3, h4, h5,h6{
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

table th{

}

table td{

}

a{
    color: #b1fd5e;
}

pre{
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    background-color: #b08ed5;
    border: 1px solid #6d5687;
    border-radius: 6px;
    color: #000000;
}

pre code{
    border: none;
    display: block;
}

code{
    background-color: #b08ed5;
    border-radius: 4px;
    border: 1px solid #6d5687;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}
