html{
    background-image: url('../../static/backgrounds/stone.png');
    background-repeat: repeat;
    background-size: 275px 275px;
}

body{
    color: #ffffff;
}

#base-header {
    background: url('../../static/backgrounds/header/stone-header.png') repeat-x;
}

.markdown {
    background-color: rgba(0, 0, 0, 0.66) !important;
}

h1{
    color: #cccbc3;
}

h2{
    color: #aad79c;
}

h3, h4, h5,h6{
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

table th{

}

table td{

}

a{
    color: #96e2ff;
}

pre{
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    border-radius: 6px;
    color: #000000;
}

pre code{
    border: none;
    display: block;
}

code{
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}

pre, code{
    background-color: #e4ffdb;
    border: 1px solid #2d3435;
}
