<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ player_name }}&apos;s Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/checksfinderTracker.css') }}"/>
    <script type="application/ecmascript" src="{{ url_for('static', filename='assets/checksfinderTracker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="//undertalefonts.duodecima.technology/webfonts/stylesheet.css">
</head>

<body>
    <div id="player-tracker-wrapper" data-tracker="{{ room.tracker|suuid }}">
        <table id="inventory-table">
            <tr>
                <td class="icon" style="background-image: url('{{ icons['Checks Available'] }}');">&nbsp;</td>
                <td class="item-count">{{ checks_available }}</td>
                <td class="icon" style="background-image: url('{{ icons['Map Bombs'] }}');">&nbsp;</td>
                <td class="item-count">{{ bombs_display }}/20</td>
            </tr>
            <tr>
                <td class="icon" style="background-image: url('{{ icons['Map Width'] }}');">&nbsp;</td>
                <td class="item-count">{{ width_display }}/10</td>
                <td class="icon" style="background-image: url('{{ icons['Map Height'] }}');">&nbsp;</td>
                <td class="item-count">{{ height_display }}/10</td>
            </tr>
        </table>
    </div>
</body>
</html>
