{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/cloudHeader.css") }}" />
{% endblock %}

{% block header %}
    <header id="cloud-header">
        <a href="/" id="site-title">
            <img src="/favicon.ico" alt="Favicon" />
        </a>
        <a href="/">multiworld randomizer</a>
        <div id="cloud-header-spacer"></div>
        <a href="/generate">start game</a>
        <a href="/uploads">host game</a>
        <a href="/tutorial">setup guide</a>
        <a href="/player-settings">player settings</a>
        <a href="https://discord.gg/8Z65BR2">discord</a>
    </header>
{% endblock %}
