{% extends "faq.html" %}

{% block head %}
    {% include "header/oceanIslandHeader.html" %}
    <title>Downloads</title>
    <!-- html style because a full css file for this much change seems overkill -->
    <style>
        .downloads-wrapper {
            text-align: center
        }

        .downloads {
            display: inline-block;
            text-align: left
        }

        > li:first-child {
            margin-bottom: 24px
        }
    </style>
{% endblock %}

{% block body %}
    <div class="downloads-wrapper">
        <h1>Download Archipelago {{ version }}</h1>
        <br/>
        <ul class="downloads">
            <li><a href="https://github.com/ArchipelagoMW/Archipelago/releases/tag/{{ version }}">Patch Notes</a></li>
            <li><a href="{{ url_for("api.get_download", build="windows") }}">Download for Windows 10+</a></li>
            <li><a href="{{ url_for("api.get_download", build="windows7") }}">Download for Windows 7</a></li>
            <li><a href="{{ url_for("api.get_download", build="appimage") }}">Download for Linux (AppImage)</a></li>
            <li><a href="{{ url_for("api.get_download", build="tar") }}">Download for Linux (.tar.gz)</a></li>
        </ul>
    </div>
    {% include "islandFooter.html" %}
{% endblock %}
