{% extends "faq.html" %}

{% block head %}
{% include "header/grassHeader.html" %}
<title>Downloads</title>
{% endblock %}

{% block body %}
<div id="downloads-wrapper">
    <p>Latest Release: {{ version }}
    <ul>
        <li><a href="https://github.com/ArchipelagoMW/Archipelago/releases/tag/{{ version }}">Github</a></li>
        <li><a href="{{ url_for("api.get_download", build="windows") }}">Windows Setup</a></li>
        <li><a href="{{ url_for("api.get_download", build="windows7") }}">Windows 7 Setup</a></li>
        <li><a href="{{ url_for("api.get_download", build="app") }}">Linux AppImage</a></li>
        <li><a href="{{ url_for("api.get_download", build="tar") }}">Linux Tarball</a></li>
    </ul>
    </p>
</div>
{% endblock %}

{% block footer %}
{% include "islandFooter.html" %}
{% endblock %}
