{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Player Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/games.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/grassHeader.html' %}
    <div id="games">
        <h1>Currently Supported Games</h1>
        <h3><a href="/zelda3">The Legend of Zelda: A Link to the Past</a></h3>
        <p>
            The Legend of Zelda: A Link to the Past is an action/adventure game. Take on the role of Link,
            a boy who is destined to save the land of Hyrule. Delve through three palaces and nine dungeons on
            your quest to rescue the descendents of the seven wise men and defeat the evil Ganon!
        </p>

        <h3><a href="/factorio">Factorio</a></h3>
        <p>
            Factorio is a game about automation. You play as an engineer who has crash landed on the planet
            Nauvis, an inhospitable world filled with dangerous creatures called biters. Build a factory,
            research new technologies, and become more efficient in your quest to build a rocket and return home.
        </p>

        <h3><a href="/minecraft">Minecraft</a></h3>
        <p>
            Minecraft is a game about creativity. In a world made entirely of cubes, you explore, discover, mine,
            craft, and try not to explode. Delve deep into the earth and discover abandoned mines, ancient
            structures, and materials to create a portal to another world. Defeat the Ender Dragon, and claim
            victory!
        </p>
    </div>
{% endblock %}
