{% for team, hints in hints.items() %}
    <div class="table-wrapper">
        <table id="hints-table" class="table non-unique-item-table" data-order='[[5, "asc"], [0, "asc"]]'>
            <thead>
            <tr>
                <th>Finder</th>
                <th>Receiver</th>
                <th>Item</th>
                <th>Location</th>
                <th>Entrance</th>
                <th>Found</th>
            </tr>
            </thead>
            <tbody>
            {%- for hint in hints -%}
                <tr>
                    <td>{{ long_player_names[team, hint.finding_player] }}</td>
                    <td>{{ long_player_names[team, hint.receiving_player] }}</td>
                    <td>{{ hint.item|item_name }}</td>
                    <td>{{ hint.location|location_name }}</td>
                    <td>{% if hint.entrance %}{{ hint.entrance }}{% else %}Vanilla{% endif %}</td>
                    <td>{% if hint.found %}✔{% endif %}</td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    </div>
{% endfor %}