{% block footer %}
    <footer id="island-footer">
        <div id="copyright-notice">Copyright 2023 Archipelago</div>
        <div id="links">
            <a href="/sitemap">Site Map</a>
            -
            <a href="https://github.com/ArchipelagoMW/Archipelago">Source Code</a>
            -
            <a href="https://github.com/ArchipelagoMW/Archipelago/graphs/contributors">Contributors</a>
            -
            <a href="https://github.com/ArchipelagoMW/Archipelago/issues">Bug Report</a>
        </div>
    </footer>
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/islandFooter.css") }}" />
{% endblock %}
