{% block footer %}
    <footer id="island-footer">
        <div id="copyright-notice">Copyright 2020 MultiWorld</div>
        <div id="links">
            <a href="https://github.com/Berserker66/MultiWorld-Utilities">Source Code</a>
            -
            <a href="https://github.com/Berserker66/MultiWorld-Utilities/wiki">Wiki</a>
            -
            <a href="https://github.com/Berserker66/MultiWorld-Utilities/graphs/contributors">Contributors</a>
            -
            <a href="https://github.com/Berserker66/MultiWorld-Utilities/issues">Bug Report</a>
        </div>
    </footer>
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/islandFooter.css") }}" />
{% endblock %}
