{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Berserker's Multiworld</title>
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/landing.css") }}" />
{% endblock %}

{% block body %}
    <div id="landing-wrapper">
        <div id="landing-header">
            <h4>the legend of zelda: a link to the past</h4>
            <h1>MULTIWORLD RANDOMIZER</h1>
        </div>
        <div id="landing-buttons">
            Buttons here, eventually!
        </div>
        <div id="landing-clouds">
            <img id="cloud1" src="/static/static/backgrounds/clouds/cloud-0001.png"/>
            <img id="cloud2" src="/static/static/backgrounds/clouds/cloud-0002.png"/>
            <img id="cloud3" src="/static/static/backgrounds/clouds/cloud-0003.png"/>
        </div>
        <div id="landing" class="grass-island">
            <div id="landing-body">
                <p>This is a <span data-tooltip="Allegedly.">randomizer</span> for The Legend of Zelda: A
                    Link to the Past.</p>
                <p>This is also a multiworld, meaning it is multiplayer. Your items may be placed into other
                    players' worlds, and their items may be placed into yours. When a player picks up an item which
                    does not belong to them, it is sent back to the player it belongs to over the internet.</p>
                <p>This website allows you to generate and host a multiworld game, and provides item and location
                    trackers for all games hosted here. To get started playing, <a href="/tutorial">click here.</a></p>
                <p>This website is under active development. If you find a bug, please report it
                    <a href="https://github.com/Berserker66/MultiWorld-Utilities/issues">here.</a></p>
                <p>{{ seeds }} games were created and {{ rooms }} hosted in the last 7 days.</p>
            </div>
        </div>
    </div>
    {% include 'islandFooter.html' %}
{% endblock %}
