<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/layout.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/tooltip.css") }}" />
    <script type="application/ecmascript" src="{{ static_autoversion("assets/layout.js") }}"></script>
    {% block head %}
        <title>Berserker's Multiworld</title>
    {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

</body>
</html>
