{% macro list_rooms(rooms) -%}
    <ul>
        {% for room in rooms %}
            <li><a href="{{ url_for("host_room", room=room.id) }}">Room #{{ room.id|suuid }}</a></li>
        {% endfor %}
        {{ caller() }}
    </ul>
{%- endmacro %}
{% macro list_patches_room(patches, room) %}
    {% if patches %}
        <ul>
            {% for patch in patches|list|sort(attribute="player") %}
                <li><a href="{{ url_for("download_patch", patch_id=patch.id, room_id=room.id) }}">
                    Patch for player {{ patch.player }} - {{ room.seed.multidata["names"][0][patch.player-1] }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endmacro -%}