{% extends "multiTracker.html" %}
{% block custom_table_headers %}
<th class="center-column">
    <img src="https://wiki.factorio.com/images/thumb/Logistic_science_pack.png/32px-Logistic_science_pack.png"
         alt="Logistic Science Pack">
</th>
<th class="center-column">
    <img src="https://wiki.factorio.com/images/thumb/Military_science_pack.png/32px-Military_science_pack.png"
         alt="Military Science Pack">
</th>
<th class="center-column">
    <img src="https://wiki.factorio.com/images/thumb/Chemical_science_pack.png/32px-Chemical_science_pack.png"
         alt="Chemical Science Pack">
</th>
<th class="center-column">
    <img src="https://wiki.factorio.com/images/thumb/Production_science_pack.png/32px-Production_science_pack.png"
         alt="Production Science Pack">
</th>
<th class="center-column">
    <img src="https://wiki.factorio.com/images/thumb/Utility_science_pack.png/32px-Utility_science_pack.png"
         alt="Utility Science Pack">
</th>
<th class="center-column">
    <img src="https://wiki.factorio.com/images/thumb/Space_science_pack.png/32px-Space_science_pack.png"
         alt="Space Science Pack">
</th>
{% endblock %}
{% block custom_table_row scoped  %}
{% if games[player] == "Factorio" %}
{% set player_inventory = named_inventory[team][player] %}
{% set prog_science = player_inventory["progressive-science-pack"] %}
<td class="center-column">{% if player_inventory["logistic-science-pack"] or prog_science %}✔{% endif %}</td>
<td class="center-column">{% if player_inventory["military-science-pack"] or prog_science > 1%}✔{% endif %}</td>
<td class="center-column">{% if player_inventory["chemical-science-pack"] or prog_science > 2%}✔{% endif %}</td>
<td class="center-column">{% if player_inventory["production-science-pack"] or prog_science > 3%}✔{% endif %}</td>
<td class="center-column">{% if player_inventory["utility-science-pack"] or prog_science > 4%}✔{% endif %}</td>
<td class="center-column">{% if player_inventory["space-science-pack"] or prog_science > 5%}✔{% endif %}</td>
{% else %}
<td class="center-column">❌</td>
<td class="center-column">❌</td>
<td class="center-column">❌</td>
<td class="center-column">❌</td>
<td class="center-column">❌</td>
<td class="center-column">❌</td>
{% endif %}
{% endblock%}
