<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/tooltip.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/cookieNotice.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/globalStyles.css") }}" />
    <script type="application/ecmascript" src="{{ static_autoversion("assets/styleController.js") }}"></script>
    <script type="application/ecmascript" src="{{ static_autoversion("assets/cookieNotice.js") }}"></script>
    {% block head %}
        <title>Multiworld</title>
    {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

</body>
</html>
