{% extends 'pageWrapper.html' %}

{% block head %}
    <title>{{ game }} Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/player-settings.css") }}" />
    <script type="application/ecmascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/md5.min.js") }}"></script>
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/js-yaml.min.js") }}"></script>
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/player-settings.js") }}"></script>
{% endblock %}

{% block body %}
    {% include 'header/'+theme+'Header.html' %}
    <div id="player-settings" class="markdown" data-game="{{ game }}">
        <div id="user-message"></div>
        <h1><span id="game-name">Player</span> Settings</h1>
        <p>Choose the options you would like to play with! You may generate a single-player game from this page,
            or download a settings file you can use to participate in a MultiWorld.</p>

        <p>
            A more advanced settings configuration for all games can be found on the
            <a href="/weighted-settings">Weighted Settings</a> page.
            <br />
            A list of all games you have generated can be found on the <a href="/user-content">User Content Page</a>.
            <br />
            You may also download the
            <a href="/static/generated/configs/{{ game }}.yaml">template file for this game</a>.
        </p>

        <h2>Meta Options</h2>
        <div id="meta-options">
            <div>
                <label for="player-name">
                    Player Name: <span class="interactive" data-tooltip="This is the name you use to connect with your game. This is also known as your 'slot name'.">(?)</span>
                </label>
                <input id="player-name" placeholder="Player" data-key="name" maxlength="16" />
            </div>
            <div>
                <label for="game-options-preset">
                    Options Preset: <span class="interactive" data-tooltip="Select a developer-curated preset of game options!">(?)</span>
                </label>
                <select id="game-options-preset">
                    <option value="__default">Defaults</option>
                    <option value="__custom" hidden>Custom</option>
                </select>
            </div>

        </div>

        <h2>Game Options</h2>
        <div id="game-options">
            <div id="game-options-left" class="left"></div>
            <div id="game-options-right" class="right"></div>
        </div>

        <div id="player-settings-button-row">
            <button id="export-settings">Export Settings</button>
            <button id="generate-game">Generate Game</button>
            <button id="generate-race">Generate Race</button>
        </div>
    </div>
{% endblock %}
