{% block head %}
    <title>{{ player_name }}&apos;s Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/playerTracker.css") }}"/>
{% endblock %}

{% block body %}
    <div id="tracker-wrapper" data-tracker="{{ room.tracker|suuid }}/{{ team }}/{{ player }}">
        <div class="{{ theme }}-wrapper">
            <div class="items-container">
            <div class="items-container">
                {% if icons or received_items %}
                    {% if icons %}
                    {% block icons_render %}
                    <div class="items-container">
                    {%- for column in icons|slice(4) %}
                        {%- if loop.index < 3 %}
                    <div class="item-column column-{{ loop.index }}">
                        <h1>Item</h1>
                        {%- for name in column %}
                        <div class="image-container"><img src="{{ icons[name] }}" class="icon {{ 'acquired' if name in received_items }}">
                            <div class="bottom-right">
                            {{ name if name in received_items else '' }}
                            </div>
                        </div>
                        {%- endfor %}
                    </div>
                        {%- endif %}
                        {%- endfor %}
                    </div>
                <div class="items-container">
                    {%- for column in icons|slice(4) %}
                        {%- if loop.index > 2 %}
                    <div class="item-column column-{{ loop.index }}">
                        <h1>Item</h1>
                        {%- for name in column %}
                        <div class="image-container"><img src="{{ icons[name] }}" class="icon {{ 'acquired' if name in received_items }}">
                            <div class="bottom-right">
                            {{ name if name in received_items else '' }}
                            </div>
                        </div>
                        {%- endfor %}
                    </div>
                        {%- endif %}
                    {%- endfor %}
                    </div>
                    {% endblock %}

                    {% else %}
                    {% block item_names_render %}
                    <div class="items-container">
                        {% for column in all_progression_items|sort|slice(4) -%}
                        {% if loop.index < 3 -%}
                        <div class="items-container">
                        <div class="item-column column-{{ loop.index }}">
                            <h1>Item</h1>
                            {%- for name in column %}
                            {%- if name in received_items %}
                            <div>{{ name }}</div>
                            {%- else %}
                            <div></div>
                            {%- endif %}
                            {%- endfor %}
                        </div>
                        <div class="item-column">
                            <h2></h2>
                            {%- for name in column %}
                            {%- if name in received_items %}
                                {% if all_progression_items[name] > 1 %}
                                <div> {{ received_items[name] }}</div>
                                {% else %}
                                <div>✔</div>
                                {% endif %}
                            {%- else %}
                            <div></div>
                            {%- endif %}
                            {%- endfor %}
                        </div>
                        </div>
                            {% endif -%}
                            {% endfor -%}
                    </div>
                    <div class="items-container">
                        {% for column in all_progression_items|sort|slice(4) -%}
                        {% if loop.index > 2 -%}
                        <div class="items-container">
                        <div class="item-column column-{{ loop.index }}">
                            <h1>Item</h1>
                            {%- for name in column %}
                            {%- if name in received_items %}
                            <div>{{ name }}</div>
                            {%- else %}
                            <div></div>
                            {%- endif %}
                            {%- endfor %}
                        </div>
                        <div class="item-column">
                            <h2></h2>
                            {%- for name in column %}
                            {%- if name in received_items %}
                                {% if all_progression_items[name] > 1 %}
                                <div> {{ received_items[name] }}</div>
                                {% else %}
                                <div>✔</div>
                                {% endif %}
                            {%- else %}
                            <div></div>
                            {%- endif %}
                            {%- endfor %}
                        </div>
                        </div>
                            {% endif -%}
                            {% endfor -%}
                    </div>
                    {% endblock %}
                    {% endif %}
                </div>
            </div>
                {% endif %}
            {% if regions %}
            {% block regions_render %}
            <div class="regions-container">
                {% for region in regions %}
                <div class="regions-column column-{region}">
                    <h1 class="region-header {{ region }}">{{ region }} ▼ {{ checks_done[region]|length }} / {{ regions[region]|length }}</h1>
                {%- for location in regions[region] %}
                <div class="location-column locations-hide">
                    <div class="{{ 'acquired' if location in checked_locations }}">{{ location }}</div>
                </div>
                {%- endfor %}
                </div>
                {% endfor %}
            </div>
            {% endblock %}
            {% else %}
            {% block locations_render %}
            <div class="locations-container">
                <div class="locations-container">
                    {%- for column in locations|slice(4) %}
                    {% if loop.index < 3 %}
                    <div class="location-column checked-locations-column-{{ loop.index }}">
                        <h1>Locations</h1>
                        {%- for location in column %}
                        <div class="{{ 'acquired' if location in checked_locations }}">{{ location }}</div>
                        {%- endfor %}
                    </div>
                    {% endif %}
                    {%- endfor %}
                </div>
                <div class="locations-container">
                    {% for column in locations|slice(4) %}
                    {% if loop.index > 2 %}
                    <div class="location-column checked-locations-column-{{ loop.index }}">
                        <h1>Locations</h1>
                        {%- for location in column %}
                        <div class="{{ 'acquired' if location in checked_locations }}">{{ location }}</div>
                        {%- endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}
