{% block head %}
    <!--suppress XmlDuplicatedId -->
    <title>{{ player_name }}&apos;s Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playerTracker.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tooltip.css') }}" />
{% endblock %}

{% block body %}

<div id="player-keys-tracker" class="{{ theme }}-wrapper">
    <a href="/generic_tracker/{{ room.tracker|suuid }}/{{ team }}/{{ player }}" class="button-link">
        Go to Generic Tracker
    </a>
    <h1>Items</h1>
    <div id="items-container">
        {% for item in icons %}
            <div class="image-container tooltip" id="{{ item }}" data-tooltip="{{ item }}">
                <img
                    src="{{ icons[item] }}"
                    class="icon tooltip {{ 'acquired' if item in received_items }}"
                />
            </div>
        {% endfor %}
    </div>

    <div class="keys-regions-container">
        <h1>Locations Checked</h1>
        {% for region in regions %}
            <h1 class="regions-header" id="{{ region }}-header">
                {{ region }} ▼ {{ checks_done[region] if checks_done[region] else '0' }}/{{ regions[region]|length }}
            </h1>
            {% for location in regions[region] %}
                <div class="location hidden {{ 'acquired' if location in checked_locations }}" id="{{ location }}">
                    {{ location }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="total-checks" id="total-checks">
            Total Checks Done: {{ checked_locations|length }}/{{ locations|length }}
        </div>
    </div>
</div>

{% endblock %}
