{% extends 'pageWrapper.html' %}
{% import "macros.html" as macros %}
{% set show_footer = True %}

{% block head %}
    <title>Generation failed, please retry.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/waitSeed.css") }}"/>
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}
    <div id="wait-seed-wrapper" class="grass-island">
        <div id="wait-seed">
            <h1>Generation failed</h1>
			<h2>please retry</h2>
            {{ seed_error }}
        </div>
    </div>
{% endblock %}
