{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Site Map</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/grassFlowersHeader.html' %}
    <div id="site-map" class="markdown">
        <h1>Site Map</h1>
        <h2>Base Pages</h2>
        <ul>
            <li><a href="/discord">Discord Link</a></li>
            <li><a href="/faq/en">F.A.Q. Page</a></li>
            <li><a href="/favicon.ico">Favicon</a></li>
            <li><a href="/generate">Generate Game Page</a></li>
            <li><a href="/">Homepage</a></li>
            <li><a href="/uploads">Host Game Page</a></li>
            <li><a href="/datapackage">Raw Data Package</a></li>
            <li><a href="{{ url_for('check')}}">Settings Validator</a></li>
            <li><a href="/sitemap">Site Map</a></li>
            <li><a href="/start-playing">Start Playing</a></li>
            <li><a href="/games">Supported Games Page</a></li>
            <li><a href="/tutorial">Tutorials Page</a></li>
            <li><a href="/user-content">User Content</a></li>
            <li><a href="{{url_for('stats')}}">Game Statistics</a></li>
            <li><a href="/glossary/en">Glossary</a></li>
            <li><a href="{{url_for("show_session")}}">Session / Login</a></li>
        </ul>

        <h2>Tutorials</h2>
        <ul>
            <li><a href="/tutorial/Archipelago/setup/en">Multiworld Setup Tutorial</a></li>
            <li><a href="/tutorial/Archipelago/mac/en">Setup Guide for Mac</a></li>
            <li><a href="/tutorial/Archipelago/commands/en">Server and Client Commands</a></li>
            <li><a href="/tutorial/Archipelago/advanced_settings/en">Advanced YAML Guide</a></li>
            <li><a href="/tutorial/Archipelago/triggers/en">Triggers Guide</a></li>
            <li><a href="/tutorial/Archipelago/plando/en">Plando Guide</a></li>
        </ul>

        <h2>Game Info Pages</h2>
        <ul>
            {% for game in games | title_sorted %}
                <li><a href="{{ url_for('game_info', game=game['title'], lang='en') }}">{{ game['title'] }}</a></li>
            {% endfor %}
        </ul>

        <h2>Game Options Pages</h2>
        <ul>
            {% for game in games | title_sorted %}
                {% if game['has_settings'] %}
                    <li>{{ game['title'] }}</li>
                    <ul>
                        <li><a href="{{ url_for('player_options', game=game['title']) }}">Player Options</a></li>
                        <li><a href="{{ url_for('weighted_options', game=game['title']) }}">Weighted Options</a></li>
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
