{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Site Map</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/grassFlowersHeader.html' %}
    <div id="site-map" class="markdown">
        <h1>Site Map</h1>
        <h2>Base Pages</h2>
        <ul>
            <li><a href="{{ url_for('discord') }}">Discord Link</a></li>
            <li><a href="{{ url_for('faq', lang='en') }}">F.A.Q. Page</a></li>
            <li><a href="{{ url_for('favicon') }}">Favicon</a></li>
            <li><a href="{{ url_for('generate') }}">Generate Game Page</a></li>
            <li><a href="{{ url_for('landing') }}">Homepage</a></li>
            <li><a href="{{ url_for('uploads') }}">Host Game Page</a></li>
            <li><a href="{{ url_for('get_datapackage') }}">Raw Data Package</a></li>
            <li><a href="{{ url_for('check') }}">Settings Validator</a></li>
            <li><a href="{{ url_for('get_sitemap') }}">Site Map</a></li>
            <li><a href="{{ url_for('start_playing') }}">Start Playing</a></li>
            <li><a href="{{ url_for('games') }}">Supported Games Page</a></li>
            <li><a href="{{ url_for('tutorial_landing') }}">Tutorials Page</a></li>
            <li><a href="{{ url_for('user_content') }}">User Content</a></li>
            <li><a href="{{ url_for('stats') }}">Game Statistics</a></li>
            <li><a href="{{ url_for('glossary', lang='en') }}">Glossary</a></li>
            <li><a href="{{ url_for('show_session') }}">Session / Login</a></li>
        </ul>

        <h2>Tutorials</h2>
        <ul>
            <li><a href="{{ url_for('tutorial', game='Archipelago', file='setup_en') }}">Multiworld Setup Tutorial</a></li>
            <li><a href="{{ url_for('tutorial', game='Archipelago', file='mac_en') }}">Setup Guide for Mac</a></li>
            <li><a href="{{ url_for('tutorial', game='Archipelago', file='commands_en') }}">Server and Client Commands</a></li>
            <li><a href="{{ url_for('tutorial', game='Archipelago', file='advanced_settings_en') }}">Advanced YAML Guide</a></li>
            <li><a href="{{ url_for('tutorial', game='Archipelago', file='triggers_en') }}">Triggers Guide</a></li>
            <li><a href="{{ url_for('tutorial', game='Archipelago', file='plando_en') }}">Plando Guide</a></li>
        </ul>

        <h2>Game Info Pages</h2>
        <ul>
            {% for game in games | title_sorted %}
                <li><a href="{{ url_for('game_info', game=game['title'], lang='en') }}">{{ game['title'] }}</a></li>
            {% endfor %}
        </ul>

        <h2>Game Options Pages</h2>
        <ul>
            {% for game in games | title_sorted %}
                {% if game['has_settings'] %}
                    <li>{{ game['title'] }}</li>
                    <ul>
                        <li><a href="{{ url_for('player_options', game=game['title']) }}">Player Options</a></li>
                        <li><a href="{{ url_for('weighted_options', game=game['title']) }}">Weighted Options</a></li>
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
