{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Start Playing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/startPlaying.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}

    <div id="start-playing-wrapper">
        <div id="start-playing" class="grass-island {% if rooms %}wider{% endif %}">
            <h1>Start Playing</h1>
            <p>
                If you're ready to play but don't know where to begin,
                check out our tutorials for setting up Archipelago on
                <a href="/tutorial/Archipelago/setup/en">Windows/Linux</a>
                and <a href="/tutorial/Archipelago/mac/en">Mac</a>.<br />
                Then, choose a game from our <a href="/games">supported games</a> to set up your particular game
                for randomization.
                <br /><br />


                To start playing an Archipelago multi-world, you can either generate a game on the site, or provide
                your pre-generated game to host on the site.<br />
                <div>
                <button onclick="window.location.href='/generate';">
                    Generate Game on Site
                </button>
                <button onclick="window.location.href='/uploads';">
                    Host Pre-Generated Game
                </button>
                </div>


            </p>
        </div>
    </div>

    {% include 'islandFooter.html' %}
{% endblock %}
