{# Original items located at https://github.com/PoryGone/SMW_AP_Tracker/blob/main/super_mario_world_randomizer_porygone #}
{% set icons = {
    "Big Mario"                 : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/big_mario.png?raw=true",
    "Fire Mario"                : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/fire_mario.png?raw=true",
    "Cape Mario"                : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/cape_mario.png?raw=true",
    "Carry"                     : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/carry.png?raw=true",
    "Climb"                     : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/climb.png?raw=true",
    "Run"                       : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/run.png?raw=true",
    "Swim"                      : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/swim.png?raw=true",
    "Spin Jump"                 : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/spin_jump.png?raw=true",
    "Yoshi"                     : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/yoshi.png?raw=true",
    "Yoshi Egg"                 : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/yoshi_egg.png?raw=true",
    "Boss Token"                : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/larry.png?raw=true",
    "Yoshi Eggs Required"       : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/yoshi_egg.png?raw=true",
    "Bosses Required"           : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/larry.png?raw=true",
    "Special Zone Clear"        : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/special_world.png?raw=true",
    "Super Star Activate"       : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/star.png?raw=true",
    "P-Balloon"                 : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/p_balloon.png?raw=true",
    "P-Switch"                  : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/p_switch.png?raw=true"
} %}

{% set multi_image_icons = {
    "Yellow Switch Palace"      : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/ysp_pressed.png?raw=true",
    "No Yellow Switch Palace"   : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/ysp_full.png?raw=true",

    "Green Switch Palace"       : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/gsp_pressed.png?raw=true",
    "No Green Switch Palace"    : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/gsp_full.png?raw=true",

    "Red Switch Palace"         : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/rsp_pressed.png?raw=true",
    "No Red Switch Palace"      : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/rsp_full.png?raw=true",
    
    "Blue Switch Palace"        : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/bsp_pressed.png?raw=true",
    "No Blue Switch Palace"     : "https://github.com/mrkssr/ap-icons/blob/main/SMW%20Tacker/items/bsp_full.png?raw=true"
} %}

{% set inventory_order = [
    "Progressive Powerup", "Yoshi", "Super Star Activate", "P-Balloon", "P-Switch",
    "Carry", "Climb", "Run", "Swim", "Spin Jump",
    "Progressive Yellow Switch Palace", "Progressive Green Switch Palace", "Progressive Red Switch Palace", "Progressive Blue Switch Palace", "Special Zone Clear",
    "Boss Token", "Yoshi Egg"
] %}

{# Most have a duplicated 0th entry for when we have none of that item to still load the correct icon/name. #}
{% set progressive_order = {
    "Progressive Powerup"               : ["Big Mario", "Big Mario", "Fire Mario", "Cape Mario"],
    "Progressive Yellow Switch Palace"  : ["No Yellow Switch Palace", "No Yellow Switch Palace", "Yellow Switch Palace"],
    "Progressive Green Switch Palace"   : ["No Green Switch Palace", "No Green Switch Palace", "Green Switch Palace"],
    "Progressive Red Switch Palace"     : ["No Red Switch Palace", "No Red Switch Palace", "Red Switch Palace"],
    "Progressive Blue Switch Palace"    : ["No Blue Switch Palace", "No Blue Switch Palace", "Blue Switch Palace"]
} %}

{% set multi_items = [
    "Boss Token",
    "Yoshi Egg",
    "Bosses Required",
    "Yoshi Eggs Required"
] %}

{% set headerMapping = {
    "Progressive Yellow Switch Palace"  : "Yellow Switch Palace",
    "Progressive Green Switch Palace"   : "Green Switch Palace",
    "Progressive Red Switch Palace"     : "Red Switch Palace",
    "Progressive Blue Switch Palace"    : "Blue Switch Palace"
}%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player_name }}&apos;s Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/globalStyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tracker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/themes/dirt.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/themes/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tracker__SMW.css') }}">
</head>

<body>
    <header id="base-header">
        <div id="base-header-left">
            <a id="site-title" href="#">{{ player_name }}'s Tracker</a>
        </div>
    </header>

    <div id="tracker-navigation">
        <div class="tracker-navigation-bar">
            <a class="tracker-navigation-button" href="{{ url_for("get_generic_game_tracker", tracker=room.tracker, tracked_team=team, tracked_player=player) }}"> 🡸 Switch To Generic Tracker </a>
        </div>
    </div>

    {# Inventory Grid #}
    <div class="tracker-container">
        <div class="inventory-grid">
            {% for item in inventory_order %}
                {% set header = item %}

                {% if header in headerMapping %}
                    {% set header = headerMapping[header] %}
                {% endif %}

                {% if item in progressive_order %}
                    {% set non_prog_item = progressive_order[item][inventory[item]] %}
                    <div class="item">
                        <img
                            src="{{ multi_image_icons[non_prog_item] if non_prog_item in multi_image_icons else icons[non_prog_item] }}"
                            alt="{{ header }}"
                            title="{{ header }}"
                            class="{{ 'missing' if (item not in inventory or inventory[item] == 0) }}"
                        />
                    </div>
                {% else %}
                    <div class="item">
                        <img
                            src="{{ icons[item] }}"
                            alt="{{ header }}"
                            title="{{ header }}"
                            class="{{ 'missing' if item not in inventory or inventory[item] == 0 }}"
                        />
                        {% if item in multi_items %}
                            <div class="quantity">{{ inventory[item] }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="regions-list">
            {% for region_name in known_regions %}
                {% set region_data = regions[region_name] %}
                {% if region_data["locations"] | length > 0 %}
                    <details class="region-details">
                        <summary>
                            <div class="region">
                                    <span>{{ region_name }}</span>
                                    <span>{{ region_data["checked"] }} / {{ region_data["locations"] | length }}</span>
                                    <span>
                                        {% if region_data["checked"] == (region_data["locations"] | length) %}
                                            ✔
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </span>
                                </div>
                        </summary>

                        <div class="location-rows">
                            {% for location, checked in region_data["locations"] %}
                                <div>{{ location }}</div>
                                <div>{% if checked %}✔{% endif %}</div>
                            {% endfor %}
                        </div>
                    </details>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <script>
        const parser = new DOMParser();
        const interval = 15_000;

        window.addEventListener("load", () => {
            setInterval(() => updateTracker()
                .then(() => console.log("Refreshed tracker."))
                .catch(console.error), interval);
        });

        async function updateTracker() {
            const response = await fetch(`${window.location}`);
            if (!response.ok) {
                throw new Error(`Failed to fetch tracker update from ${window.location}. Received response: ${response.statusText}`);
            }

            const fakeDOM = parser.parseFromString(await response.text(), "text/html");
            document.querySelector(".inventory-grid").innerHTML = fakeDOM.querySelector(".inventory-grid").innerHTML;

            const regionDetailElements = document.querySelectorAll(".region-details");
            const fakeDetailElements = fakeDOM.querySelectorAll(".region-details");

            for (let i = 0; i < regionDetailElements.length; ++i) {
                const isOpen = regionDetailElements[i].open;
                regionDetailElements[i].innerHTML = fakeDetailElements[i].innerHTML;
                regionDetailElements[i].open = isOpen;
            }
        }
    </script>
</body>
</html>