<!DOCTYPE html>
<html lang="en">

<head>
    <title id="title">A Player's Tracker</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/autopelagoTracker.css') }}" />
    <script type="application/json" id="script-data">{{ script_data|tojson }}</script>
    <script async type="text/javascript" src="{{ url_for('static', filename='assets/autopelagoTracker.js') }}"></script>
</head>

<body>
    <div class="page-container">
        {# TODO: Replace this with a proper wrapper for each tracker when developing TrackerAPI. #}
        <div class="generic-tracker-link">
            <a href="{{ url_for('get_generic_game_tracker', tracker=room.tracker, tracked_team=team, tracked_player=player) }}">Switch To Generic Tracker</a>
        </div>

        <div class="tracker-container">
            <div class="game-state-container">
                <div class="rats-and-auras-container">
                    <div class="rats-container">
                        <div class="received-item received-normal-rat not-found">
                            <img src="{{ url_for('static', filename='static/icons/autopelago/Rat token 1.webp') }}" title="Normal Rats" alt="Normal Rats" />
                            <span id="rat-count" class="overlaid-text">0</span>
                        </div>
                        <div class="received-item received-pack-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Pack Rat" alt="Pack Rat" />
                        </div>
                        <div class="received-item received-pizza-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Pizza Rat" alt="Pizza Rat" />
                        </div>
                        <div class="received-item received-chef-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Chef Rat" alt="Chef Rat" />
                        </div>
                        <div class="received-item received-ninja-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Ninja Rat" alt="Ninja Rat" />
                        </div>
                        <div class="received-item received-gym-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Gym Rat" alt="Gym Rat" />
                        </div>
                        <div class="received-item received-computer-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Computer Rat" alt="Computer Rat" />
                        </div>
                        <div class="received-item received-pie-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Pie Rat" alt="Pie Rat" />
                        </div>
                        <div class="received-item received-ziggu-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Ziggu Rat" alt="Ziggu Rat" />
                        </div>
                        <div class="received-item received-acro-rat not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Acro Rat" alt="Acro Rat" />
                        </div>
                        <div class="received-item received-lab-rat not-found">
                            <img src="{{ url_for('static', filename='static/icons/autopelago/Rat Doctor 1.webp') }}" title="Lab Rat" alt="Lab Rat" />
                        </div>
                        <div class="received-item received-soc-rates not-found">
                            <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Soc-Rat-es" alt="Soc-Rat-es" />
                        </div>
                    </div>
                    <div class="auras-container">
                        <h2>Stats</h2>
                        <ul>
                            <li>Current speed: <span class="movement-speed-text">1x</span></li>
                        </ul>
                    </div>
                </div>
                <div class="received-items-container">
                    <div class="received-item received-red-matador-cape not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Red Cape.webp') }}" title="Red Matador's Cape" alt="Red Matador's Cape" />
                    </div>
                    <div class="received-item received-premium-can-of-prawn-food not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Prawn Food.webp') }}" title="Premium Can of Prawn Food" alt="Premium Can of Prawn Food" />
                    </div>
                    <div class="received-item received-a-cookie not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Cookie.webp') }}" title="A Cookie" alt="A Cookie" />
                    </div>
                    <div class="received-item received-bribe not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Bribe.webp') }}" title="Bribe" alt="Bribe" />
                    </div>
                    <div class="received-item received-masterful-longsword not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Masterful Sword.webp') }}" title="Masterful Longsword" alt="Masterful Longsword" />
                    </div>
                    <!-- remainder are other "key" items that are currently unused. -->
                    <!--
                    <div class="received-item received-fresh-banana-peel not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Banana Peel.webp') }}" title="Fresh Banana Peel" alt="Fresh Banana Peel" />
                    </div>
                    <div class="received-item received-macguffin not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Macguffin.webp') }}" title="MacGuffin" alt="MacGuffin" />
                    </div>
                    <div class="received-item received-blue-turtle-shell not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Blue Turtle Shell.webp') }}" title="Blue Turtle Shell" alt="Blue Turtle Shell" />
                    </div>
                    <div class="received-item received-pair-of-fake-mouse-ears not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Fake Mouse Ears.webp') }}" title="Pair of Fake Mouse Ears" alt="Pair of Fake Mouse Ears" />
                    </div>
                    <div class="received-item received-legally-binding-contract not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Legal Contract.webp') }}" title="Legally Binding Contract" alt="Legally Binding Contract" />
                    </div>
                    <div class="received-item received-priceless-antique not-found">
                        <img src="{{ url_for('static', filename='static/icons/autopelago/Antique.webp') }}" title="Priceless Antique" alt="Priceless Antique" />
                    </div>
                    -->
                </div>
            </div>
            <div class="world-maps-container">
                <svg
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg"
                    width="100%"
                    viewBox="0 0 635 189"
                    version="1.1">
                    <g transform="translate(4,185.2)">
                    <g class="checked-location checked-basketball not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Basketball.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="82.926598"
                            y="-115.67" />
                    </g>
                    <g class="traversed-path before-basketball current-region">
                        <path
                            class="arrow-line"
                            d="m 4.06,-90.77 c 8.72,0.01 41.02,0.04 67.67,0.07" />
                        <polygon
                            class="arrow-head"
                            points="81.59,-90.7 71.58,-87.21 71.59,-94.21" />
                    </g>
                    <g class="checked-location checked-minotaur-maze not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Minotaur Maze.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="173.836"
                            y="-181.198" />
                    </g>
                    <g class="traversed-path before-minotaur-maze not-open">
                        <path
                            class="arrow-line"
                            d="m 136.71,-109.98 c 8.8,-6.34 18.73,-13.5 28.1,-20.25" />
                        <polygon
                            class="arrow-head"
                            points="172.7,-135.92 166.64,-127.23 162.54,-132.91" />
                    </g>
                    <g class="checked-location checked-restaurant not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Restaurant.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="173.55"
                            y="-50" />
                    </g>
                    <g class="traversed-path before-restaurant not-open">
                        <path
                            class="arrow-line"
                            d="m 136.63,-71.32 c 8.77,6.35 18.67,13.53 28.01,20.29" />
                        <polygon
                            class="arrow-head"
                            points="172.5,-45.32 162.35,-48.36 166.46,-54.03" />
                    </g>
                    <g class="checked-location checked-prawn-stars not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Prawn Stars.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="294.91699"
                            y="-177.661" />
                    </g>
                    <g class="traversed-path before-prawn-stars not-open">
                        <path
                            class="arrow-line"
                            d="m 227.71,-155.41 c 16.46,0.48 37.79,1.1 55.99,1.63" />
                        <polygon
                            class="arrow-head"
                            points="293.61,-153.49 283.51,-150.28 283.71,-157.28" />
                    </g>
                    <g class="checked-location bowling-ball-door not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Bowling Ball Door.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="406.10001"
                            y="-115.534" />
                    </g>
                    <g class="traversed-path before-bowling-ball-door after-prawn-stars not-open">
                        <path
                            class="arrow-line"
                            d="m 348.83,-137.62 c 14.34,8.01 32.19,17.98 47.76,26.68" />
                        <polygon
                            class="arrow-head"
                            points="405.11,-106.17 394.68,-108 398.09,-114.11" />
                    </g>
                    <g class="checked-location checked-captured-goldfish not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Captured Goldfish.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="517.12"
                            y="-155.32401" />
                    </g>
                    <g class="traversed-path before-captured-goldfish not-open">
                        <path
                            class="arrow-line"
                            d="m 459.97,-100.17 c 14.05,-5.03 31.47,-11.27 46.8,-16.77" />
                        <polygon
                            class="arrow-head"
                            points="516.07,-120.27 507.84,-113.6 505.47,-120.19" />
                    </g>
                    <g class="checked-location checked-computer-pad not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Computer Pad.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="517.151"
                            y="-75.849701" />
                    </g>
                    <g class="traversed-path before-computer-pad not-open">
                        <path
                            class="arrow-line"
                            d="m 459.98,-80.93 c 14.05,5.02 31.47,11.25 46.81,16.73" />
                        <polygon
                            class="arrow-head"
                            points="516.09,-60.88 505.5,-60.95 507.85,-67.54" />
                    </g>
                    <g class="traversed-path before-goal after-captured-goldfish not-open">
                        <path
                            class="arrow-line"
                            d="m 571.05,-117.14 c 14.21,6.95 30.95,15.14 41.96,20.53" />
                        <polygon
                            class="arrow-head"
                            points="621.93,-92.24 611.41,-93.49 614.49,-99.78" />
                    </g>
                    <g class="checked-location checked-heavy-boulder not-checked not-open">
                        <image
                            xlink:href="{{ url_for('static', filename='static/icons/autopelago/Heavy Boulder.webp') }}"
                            width="64px"
                            height="64px"
                            preserveAspectRatio="xMinYMin"
                            x="294.556"
                            y="-53.455101" />
                    </g>
                    <g class="traversed-path before-heavy-boulder not-open">
                        <path
                            class="arrow-line"
                            d="m 227.41,-25.77 c 16.45,-0.47 37.76,-1.08 55.95,-1.59" />
                        <polygon
                            class="arrow-head"
                            points="293.26,-27.65 283.37,-23.86 283.17,-30.86" />
                    </g>
                    <g class="traversed-path before-bowling-ball-door after-heavy-boulder not-open">
                        <path
                            class="arrow-line"
                            d="m 348.27,-43.32 c 14.38,-8.01 32.34,-18 48.03,-26.73" />
                        <polygon
                            class="arrow-head"
                            points="404.89,-74.83 397.86,-66.91 394.45,-73.03" />
                    </g>
                    <g class="traversed-path before-goal after-computer-pad not-open">
                        <path
                            class="arrow-line"
                            d="m 571.07,-64.13 c 14.21,-7.02 30.93,-15.27 41.95,-20.7" />
                        <polygon
                            class="arrow-head"
                            points="621.93,-89.24 614.52,-81.67 611.42,-87.95" />
                    </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</body>

</html>
