<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ player_name }}&apos;s Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/checksfinderTracker.css') }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename='assets/checksfinderTracker.js') }}"></script>
</head>

<body>
    {# TODO: Replace this with a proper wrapper for each tracker when developing TrackerAPI. #}
    <div style="margin-bottom: 0.5rem">
        <a href="{{ url_for("get_generic_game_tracker", tracker=room.tracker, tracked_team=team, tracked_player=player) }}">Switch To Generic Tracker</a>
    </div>

    <div id="player-tracker-wrapper" data-tracker="{{ room.tracker|suuid }}">
        <table id="inventory-table">
            <tr class="column-headers">
                <td colspan="2">Checks Available:</td>
                <td colspan="2">Map Bombs:</td>
            </tr>
            <tr>
                <td><img alt="Checks Available" src="{{ icons['Checks Available'] }}" /></td>
                <td>{{ checks_available }}</td>
                <td><img alt="Bombs Remaining" src="{{ icons['Map Bombs'] }}" /></td>
                <td>{{ bombs_display }}/20</td>
            </tr>
            <tr class="column-headers">
                <td colspan="2">Map Width:</td>
                <td colspan="2">Map Height:</td>
            </tr>
            <tr>
                <td><img alt="Map Width" src="{{ icons['Map Width'] }}" /></td>
                <td>{{ width_display }}/10</td>
                <td><img alt="Map Height" src="{{ icons['Map Height'] }}" /></td>
                <td>{{ height_display }}/10</td>
            </tr>
        </table>
    </div>
</body>
</html>
