<!DOCTYPE html>
<html lang="en">

<head>
    <title id="title">A Player's Tracker</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/autopelagoTracker.css') }}" />
    <script type="application/json" id="script-data">{{ script_data|tojson }}</script>
    <script async type="text/javascript" src="{{ url_for('static', filename='assets/autopelagoTracker.js') }}"></script>
</head>

<body>
    <div class="page-container">
        {# TODO: Replace this with a proper wrapper for each tracker when developing TrackerAPI. #}
        <div class="generic-tracker-link">
            <a href="{{ url_for('get_generic_game_tracker', tracker=room.tracker, tracked_team=team, tracked_player=player) }}">Switch To Generic Tracker</a>
        </div>

        <div class="rats-and-auras-container">
            <div class="rats-container">
                <div class="received-item received-normal-rat not-found">
                    <img src="{{ url_for('static', filename='static/icons/autopelago/Rat token 1.webp') }}" title="Normal Rats" alt="Normal Rats" />
                    <span id="rat-count" class="overlaid-text">0</span>
                </div>
                <div class="received-item received-pack-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Pack Rat" alt="Pack Rat" />
                </div>
                <div class="received-item received-pizza-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Pizza Rat" alt="Pizza Rat" />
                </div>
                <div class="received-item received-chef-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Chef Rat" alt="Chef Rat" />
                </div>
                <div class="received-item received-ninja-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Ninja Rat" alt="Ninja Rat" />
                </div>
                <div class="received-item received-gym-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Gym Rat" alt="Gym Rat" />
                </div>
                <div class="received-item received-computer-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Computer Rat" alt="Computer Rat" />
                </div>
                <div class="received-item received-pie-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Pie Rat" alt="Pie Rat" />
                </div>
                <div class="received-item received-ziggu-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Ziggu Rat" alt="Ziggu Rat" />
                </div>
                <div class="received-item received-acro-rat not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Acro Rat" alt="Acro Rat" />
                </div>
                <div class="received-item received-lab-rat not-found">
                    <img src="{{ url_for('static', filename='static/icons/autopelago/Rat Doctor 1.webp') }}" title="Lab Rat" alt="Lab Rat" />
                </div>
                <div class="received-item received-soc-rat-es not-found">
                    <img src="https://static.wikia.nocookie.net/wowpedia/images/9/90/BTNTemp.png" title="Soc-Rat-es" alt="Soc-Rat-es" />
                </div>
            </div>
            <div class="auras-container">
                <h2>Stats</h2>
                <ul>
                    <li>Current speed: <span class="movement-speed-text">1x</span></li>
                </ul>
            </div>
        </div>
        <div class="received-items-container">
            <div class="received-item received-red-matador-cape not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Red Cape.webp') }}" title="Red Matador's Cape" alt="Red Matador's Cape" />
            </div>
            <div class="received-item received-premium-can-of-prawn-food not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Prawn Food.webp') }}" title="Premium Can of Prawn Food" alt="Premium Can of Prawn Food" />
            </div>
            <div class="received-item received-a-cookie not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Cookie.webp') }}" title="A Cookie" alt="A Cookie" />
            </div>
            <div class="received-item received-bribe not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Bribe.webp') }}" title="Bribe" alt="Bribe" />
            </div>
            <div class="received-item received-masterful-longsword not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Masterful Sword.webp') }}" title="Masterful Longsword" alt="Masterful Longsword" />
            </div>
            <!-- remainder are other "key" items that are currently unused. -->
            <!--
            <div class="received-item received-fresh-banana-peel not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Banana Peel.webp') }}" title="Fresh Banana Peel" alt="Fresh Banana Peel" />
            </div>
            <div class="received-item received-macguffin not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Macguffin.webp') }}" title="MacGuffin" alt="MacGuffin" />
            </div>
            <div class="received-item received-blue-turtle-shell not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Blue Turtle Shell.webp') }}" title="Blue Turtle Shell" alt="Blue Turtle Shell" />
            </div>
            <div class="received-item received-pair-of-fake-mouse-ears not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Fake Mouse Ears.webp') }}" title="Pair of Fake Mouse Ears" alt="Pair of Fake Mouse Ears" />
            </div>
            <div class="received-item received-legally-binding-contract not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Legal Contract.webp') }}" title="Legally Binding Contract" alt="Legally Binding Contract" />
            </div>
            <div class="received-item received-priceless-antique not-found">
                <img src="{{ url_for('static', filename='static/icons/autopelago/Antique.webp') }}" title="Priceless Antique" alt="Priceless Antique" />
            </div>
            -->
        </div>
        <div class="world-maps-container">
            <svg width="100%" viewBox="0.00 0.00 452.00 145.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                  <g class="checked-location not-checked not-open checked-basketball">
                    <image xlink:href="{{ url_for('static', filename='static/icons/autopelago/Basketball.webp') }}" width="54px" height="54px" preserveAspectRatio="xMinYMin" x="19" y="42" />
                  </g>
                  <g class="traversed-path before-basketball after-start current-region">
                    <path fill="none" stroke="black" d="M46,5.72C46,14.04 46,22.35 46,30.67" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="49.5,30.49 46,40.49 42.5,30.49 49.5,30.49" class="arrow-head" />
                  </g>
                  <g class="checked-location not-checked not-open checked-minotaur">
                    <image xlink:href="{{ url_for('static', filename='static/icons/autopelago/Minotaur Maze.webp') }}" width="54px" height="54px" preserveAspectRatio="xMinYMin" x="109" y="8" />
                  </g>
                  <g class="traversed-path before-minotaur after-basketball">
                    <path fill="none" stroke="black" d="M72.93,56.98C80.98,53.87 90.02,50.38 98.65,47.05" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="97.26,43.83 107.85,43.49 99.78,50.36 97.26,43.83" class="arrow-head" />
                  </g>
                  <g class="checked-location not-checked not-open checked-prawn-stars">
                    <image xlink:href="{{ url_for('static', filename='static/icons/autopelago/Prawn Stars.webp') }}" width="54px" height="54px" preserveAspectRatio="xMinYMin" x="109" y="76" />
                  </g>
                  <g class="traversed-path before-prawn-stars after-basketball">
                    <path fill="none" stroke="black" d="M72.93,77.02C80.98,80.13 90.02,83.62 98.65,86.95" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="99.78,83.64 107.85,90.51 97.26,90.17 99.78,83.64" class="arrow-head" />
                  </g>
                  <g class="checked-location not-checked not-open checked-restaurant">
                    <image xlink:href="{{ url_for('static', filename='static/icons/autopelago/Restaurant.webp') }}" width="54px" height="54px" preserveAspectRatio="xMinYMin" x="199" y="8" />
                  </g>
                  <g class="traversed-path before-restaurant after-minotaur">
                    <path fill="none" stroke="black" d="M162.93,33C170.71,33 179.42,33 187.78,33" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="187.74,29.5 197.74,33 187.74,36.5 187.74,29.5" class="arrow-head" />
                  </g>
                  <g class="checked-location not-checked not-open checked-pirate-bake-sale">
                    <image xlink:href="{{ url_for('static', filename='static/icons/autopelago/Pirate Bake Sale.webp') }}" width="54px" height="54px" preserveAspectRatio="xMinYMin" x="199" y="76" />
                  </g>
                  <g class="traversed-path before-pirate-bake-sale after-prawn-stars">
                    <path fill="none" stroke="black" d="M162.93,101C170.71,101 179.42,101 187.78,101" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="187.74,97.5 197.74,101 187.74,104.5 187.74,97.5" class="arrow-head" />
                  </g>
                  <g class="checked-location not-checked not-open checked-bowling-ball-door">
                    <image xlink:href="{{ url_for('static', filename='static/icons/autopelago/Bowling Ball Door.webp') }}" width="54px" height="54px" preserveAspectRatio="xMinYMin" x="289" y="42" />
                  </g>
                  <g class="traversed-path before-bowling-ball-door after-restaurant">
                    <path fill="none" stroke="black" d="M252.93,43.02C260.98,46.13 270.02,49.62 278.65,52.95" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="279.78,49.64 287.85,56.51 277.26,56.17 279.78,49.64" class="arrow-head" />
                  </g>
                  <g class="traversed-path before-bowling-ball-door after-pirate-bake-sale">
                    <path fill="none" stroke="black" d="M252.93,90.98C260.98,87.87 270.02,84.38 278.65,81.05" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="277.26,77.83 287.85,77.49 279.78,84.36 277.26,77.83" class="arrow-head" />
                  </g>
                  <g class="checked-location not-checked not-open checked-captured-goldfish">
                    <image xlink:href="{{ url_for('static', filename='static/icons/autopelago/Captured Goldfish.webp') }}" width="54px" height="54px" preserveAspectRatio="xMinYMin" x="379" y="42" />
                  </g>
                  <g class="traversed-path before-captured-goldfish after-bowling-ball-door">
                    <path fill="none" stroke="black" d="M342.93,67C350.71,67 359.42,67 367.78,67" class="arrow-line" />
                    <polygon fill="black" stroke="black" points="367.74,63.5 377.74,67 367.74,70.5 367.74,63.5" class="arrow-head" />
                  </g>
                </g>
              </svg>
        </div>
    </div>
</body>

</html>
