{% extends 'pageWrapper.html' %}

{% block head %}
    {% include 'header/grassHeader.html' %}
    <title>Archipelago Guides</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/tutorialLanding.css") }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/tutorialLanding.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="tutorial-landing" class="markdown" data-game="{{ game }}" data-file="{{ file }}" data-lang="{{ lang }}">
        <h1 id="page-title">Archipelago Guides</h1>
        <p id="loading">Loading...</p>
    </div>
{%  endblock %}
