{% extends 'layout.html' %}
{% import "macros.html" as macros %}

{% block head %}
    <title>Multiworld Seed {{ seed.id|suuid }}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("view_seed.css") }}"/>
    <script type="application/ecmascript" src="{{ static_autoversion("view_seed.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="view-seed-wrapper">
        <div class="main-content">
            <h3>Seed Info</h3>
            <table>
                <tbody>
                <tr>
                    <td>Seed:&nbsp;</td>
                    <td>{{ seed.id|suuid }}</td>
                </tr>
                <tr>
                    <td>Created:&nbsp;</td>
                    <td id="creation-time" data-creation-time="{{ seed.creation_time }}"></td>
                </tr>
                <tr>
                    <td>Players:&nbsp;</td>
                    <td>
                        <ul>
                            {% for team in seed.multidata["names"] %}
                                    <li>Team #{{ loop.index }} - {{ team | length }}
                                        <ul>
                                            {% for player in team %}
                                                <li>{{ player }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Rooms:&nbsp;</td>
                        <td>
                            {% call macros.list_rooms(rooms) %}
                                <li>
                                    <a href="{{ url_for("new_room", seed=seed.id) }}">Create New Room</a>
                                </li>
                            {% endcall %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
