{% extends 'layout.html' %}
{% import "macros.html" as macros %}

{% block head %}
    <title>Multiworld Seed {{ seed.id|suuid }}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion("styles/view_seed.css") }}"/>
    <script type="application/ecmascript" src="{{ static_autoversion("assets/view_seed.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="view-seed-wrapper">
        <div class="main-content">
            <h3>Seed Info</h3>
            <table>
                <tbody>
                <tr>
                    <td>Seed:&nbsp;</td>
                    <td>{{ seed.id|suuid }}</td>
                </tr>
                <tr>
                    <td>Created:&nbsp;</td>
                    <td id="creation-time" data-creation-time="{{ seed.creation_time }}"></td>
                </tr>
                {% if seed.spoiler %}
                    <tr>
                        <td>Spoiler:&nbsp;</td>
                        <td><a href="{{ url_for("download_spoiler", seed_id=seed.id) }}">Download</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Players:&nbsp;</td>
                    <td>
                        <ul>
                            {% for team in seed.multidata["names"] %}
                                <li>Team #{{ loop.index }} - {{ team | length }}
                                    <ul>
                                        {% for player in team %}
                                            <li>
                                                <a href="{{ url_for("download_raw_patch", seed_id=seed.id, player_id=loop.index) }}">{{ player }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Rooms:&nbsp;</td>
                    <td>
                            {% call macros.list_rooms(rooms) %}
                                <li>
                                    <a href="{{ url_for("new_room", seed=seed.id) }}">Create New Room</a>
                                </li>
                            {% endcall %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
