{% extends 'pageWrapper.html' %}
{% import "macros.html" as macros %}

{% block head %}
    <title>Generation in Progress</title>
    <noscript>
        <meta http-equiv="refresh" content="1">
    </noscript>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/waitSeed.css") }}"/>
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}
    <div id="wait-seed-wrapper" class="grass-island">
        <div id="wait-seed">
            <h1>Generation in Progress</h1>
            Waiting for game to generate, this page auto-refreshes to check.
        </div>
    </div>
    <script>
        let waitSeedDiv = document.getElementById('wait-seed');
        function checkStatus() {
            fetch('{{ url_for("api.wait_seed_api", seed=seed_id) }}')
                .then(response => {
                    if (response.status === 202) {
                        response.json().then(data => {
                            waitSeedDiv.innerHTML = `
                            <h1>Generation in Progress</h1>
                            <p>${data.text}</p>
                        `;
                            setTimeout(checkStatus, 1000); // Continue polling
                        });
                    } else {
                        location.reload();
                    }
                })
                .catch(error => {
                    waitSeedDiv.innerHTML = `
                    <h1>Generation progress unknown</h1>
                    <p>Fetch error: ${error.message} (Last checked: ${new Date().toLocaleTimeString()})</p>
                `;
                    setTimeout(checkStatus, 1000);
                });
        }
        setTimeout(checkStatus, 1000);
    </script>
    {% include 'islandFooter.html' %}
{% endblock %}
