{% extends 'pageWrapper.html' %}
{% import 'weightedOptions/macros.html' as inputs %}

{% block head %}
    <title>{{ game }} Options</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/weightedOptions/weightedOptions.css") }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/weightedOptions.js") }}"></script>
{% endblock %}

{% block body %}
    {% include 'header/grassHeader.html' %}
    <div id="weighted-settings" class="markdown" data-game="{{ game }}">
        <div id="user-message"></div>
        <h1>Weighted Options</h1>
        <p>Weighted options allow you to choose how likely a particular option&apos;s value is to be used in game
            generation. The higher a value is weighted, the more likely the option will be chosen. Think of them like
            entries in a raffle.</p>

        <p>Choose the games and options you would like to play with! You may generate a single-player game from
            this page, or download an options file you can use to participate in a MultiWorld.</p>

        <p>A list of all games you have generated can be found on the <a href="/user-content">User Content</a>
            page.</p>

        <p><label for="player-name">Please enter your player name. This will appear in-game as you send and receive
            items if you are playing in a MultiWorld.</label><br />
            <input id="player-name" placeholder="Player Name" data-key="name" maxlength="16" />
        </p>

        <div id="game-choice">
            <h2>Game Select</h2>
            <p class="setting-description">Choose which games you may be required to play.</p>
            <p class="hint-text">
                If a game&apos;s value is greater than zero, you may click its name to jump to that section.
            </p>
            <table>
                <tbody>
                    {% for world_name, world in worlds|dictsort %}
                        {% if not world.hidden and world.web.options_page == True %}
                            <tr>
                                <td class="td-left"><label for="game-{{ world_name }}">{{ world_name }}</label></td>
                                <td class="td-middle"><input type="range" id="game-{{ world_name }}" name="game-{{ world_name }}" value="0" /></td>
                                <td class="td-right"><span id="game-{{ world_name }}">0</span></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="games-wrapper">
            {% for world_name, world in worlds|dictsort %}
                <h2>{{ world_name }}</h2>
                Options will go here.
            {% endfor %}
        </div>

        <div id="weighted-settings-button-row">
            <button id="export-options">Export Options</button>
            <button id="generate-game">Generate Game</button>
        </div>
    </div>
{% endblock %}
