<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block head %}<title>Berserker's Multiworld</title>
    {% endblock %}
</head>
<body>
<div class=".container-fluid">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    {% block body %}{% endblock %}
</div>
<br> {# spacing for notice #}
<footer class="page-footer" style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center">
    <div class="container">
        <span class="text-muted">This site uses a cookie to track your session in order to give you ownership over uploaded files and created instances.</span>
        {#  <button type="button" class="btn btn-secondary btn-sm" onclick="document.getElementById('cookiefooter').remove()">X</button> #}
    </div>
</footer>
</body>