{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/themes/base.css") }}" />
{% endblock %}

{% block header %}
    <header id="base-header">
        <div id="base-header-left">
            <a href="/" id="site-title">
                <img id="header-logo" src="/static/static/branding/header-logo.png" alt="Archipelago" />
            </a>
        </div>
        <div id="base-header-right">
            <a href="/games">supported games</a>
            <a href="/tutorial">setup guides</a>
            <a href="/start-playing">start playing</a>
            <a href="/faq/en">f.a.q.</a>
            <a href="https://discord.gg/8Z65BR2" target="_blank">discord</a>
        </div>
    </header>
{% endblock %}
