{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Minecraft Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/minecraft/player-settings.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/grassHeader.html' %}
    <div id="player-settings">
        <div id="user-message"></div>
        <h1>Minecraft Settings</h1>
        <p>Choose the options you would like to play with! You may generate a single-player game from this page,
            or download a settings file you can use to participate in a MultiWorld. If you would like to make
            your settings extra random, check out the advanced <a href="/weighted-settings">weighted settings</a>
            page. There, you will find examples of all available sprites as well.</p>

        <p>A list of all games you have generated can be found <a href="/user-content">here</a>.</p>

        <div>
            More content coming soon™.
        </div>
    </div>
{% endblock %}
