pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp38-cp38-win_amd64.whl ; sys_platform == 'win32' and platform_machine == 'AMD64' and python_version == '3.8'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp39-cp39-win_amd64.whl ; sys_platform == 'win32' and platform_machine == 'AMD64' and python_version == '3.9'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp310-cp310-win_amd64.whl ; sys_platform == 'win32' and platform_machine == 'AMD64' and python_version == '3.10'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp311-cp311-win_amd64.whl ; sys_platform == 'win32' and platform_machine == 'AMD64' and python_version == '3.11'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp312-cp312-win_amd64.whl ; sys_platform == 'win32' and platform_machine == 'AMD64' and python_version == '3.12'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp313-cp313-win_amd64.whl ; sys_platform == 'win32' and platform_machine == 'AMD64' and python_version == '3.13'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ; sys_platform == 'linux' and platform_machine == 'x86_64' and python_version == '3.8'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ; sys_platform == 'linux' and platform_machine == 'x86_64' and python_version == '3.9'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ; sys_platform == 'linux' and platform_machine == 'x86_64' and python_version == '3.10'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ; sys_platform == 'linux' and platform_machine == 'x86_64' and python_version == '3.11'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ; sys_platform == 'linux' and platform_machine == 'x86_64' and python_version == '3.12'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ; sys_platform == 'linux' and platform_machine == 'x86_64' and python_version == '3.13'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp38-cp38-manylinux_2_28_aarch64.whl ; sys_platform == 'linux' and platform_machine == 'aarch64' and python_version == '3.8'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp39-cp39-manylinux_2_28_aarch64.whl ; sys_platform == 'linux' and platform_machine == 'aarch64' and python_version == '3.9'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp310-cp310-manylinux_2_28_aarch64.whl ; sys_platform == 'linux' and platform_machine == 'aarch64' and python_version == '3.10'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp311-cp311-manylinux_2_28_aarch64.whl ; sys_platform == 'linux' and platform_machine == 'aarch64' and python_version == '3.11'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp312-cp312-manylinux_2_28_aarch64.whl ; sys_platform == 'linux' and platform_machine == 'aarch64' and python_version == '3.12'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp313-cp313-manylinux_2_28_aarch64.whl ; sys_platform == 'linux' and platform_machine == 'aarch64' and python_version == '3.13'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp38-cp38-macosx_10_7_x86_64.whl ; sys_platform == 'darwin' and python_version == '3.8'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp39-cp39-macosx_10_7_x86_64.whl ; sys_platform == 'darwin' and python_version == '3.9'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp310-cp310-macosx_10_7_x86_64.whl ; sys_platform == 'darwin' and python_version == '3.10'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp311-cp311-macosx_10_7_x86_64.whl ; sys_platform == 'darwin' and python_version == '3.11'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp312-cp312-macosx_10_7_x86_64.whl ; sys_platform == 'darwin' and python_version == '3.12'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp313-cp313-macosx_10_7_x86_64.whl ; sys_platform == 'darwin' and python_version == '3.13'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp38-cp38-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl ; sys_platform == 'darwin' and python_version == '3.8'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp39-cp39-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl ; sys_platform == 'darwin' and python_version == '3.9'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp310-cp310-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl ; sys_platform == 'darwin' and python_version == '3.10'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp311-cp311-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl ; sys_platform == 'darwin' and python_version == '3.11'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp312-cp312-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl ; sys_platform == 'darwin' and python_version == '3.12'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/releases/download/v0.119.1/pysmmaprando-0.119.1-cp313-cp313-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl ; sys_platform == 'darwin' and python_version == '3.13'
pysmmaprando @ https://github.com/lordlou/MapRandomizer/archive/refs/tags/v0.119.1.tar.gz ; python_version < '3.8' or python_version > '3.13' or (sys_platform != 'win32' and sys_platform != 'linux' and sys_platform != 'darwin') or (platform_machine != 'AMD64' and platform_machine != 'x86_64' and platform_machine != 'aarch64' and platform_machine != 'universal2' and platform_machine != 'arm64')
