/** Global colors for all pages */
body{
    background-color: #dce2bd;
    font-size: 1.2rem;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-top: 0.5rem;
}

/** Button Styles */
button, input[type=submit]{
    border: 1px solid #7d8c35;
    border-radius: 4px;
    width: 200px;
    height: 75px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: #dce2bd;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover, input[type=submit]:hover{
    background-color: #e0e7bd;
}

/** Content styles */
.main-content{
    max-width: 800px;
    border-radius: 8px;
    background-color: #bbb288;
    padding: 0.5em 1.5rem 1.5rem;=
    color: #282b28;
}

.main-content h3{
    margin: 0;
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}

.main-content a{
    color: #34768a;
    text-decoration: none;
}
