#tracker-wrapper{
    display: flex;
    flex-direction: column;
}

.table-wrapper{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

div.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border: none;
}

table.dataTable{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

div.dataTables_scrollBody{
    background-color: inherit !important;
}

table.dataTable .center-column{
    text-align: center;
}

img.alttp-sprite {
    height: auto;
    max-height: 32px;
    min-height: 14px;
}

@media all and (max-width: 1600px) {
    img.alttp-sprite {
        height: auto;
        max-height: 16px;
        min-height: 10px;
    }
}

.item-acquired{
    background-color: green;
}
