#uploads-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#uploads-form-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#upload-form{
    display: none;
}
