# Archipelago World Code Owners / Maintainers Document
#
# This file is used to notate the current "owners" or "maintainers" of any currently merged world folder as well as
# certain documentation. For any pull requests that modify these worlds/docs, a code owner must approve the PR in
# addition to a core maintainer. All other files and folders are owned and maintained by core maintainers directly.
#
# All usernames must be GitHub usernames (and are case sensitive).

# Adventure
/worlds/adventure/ @JusticePS

# A Hat in Time
/worlds/ahit/ @CookieCat45

# A Link to the Past
/worlds/alttp/ @Berserker66

# Sudoku (APSudoku)
/worlds/apsudoku/ @EmilyV99

# Aquaria
/worlds/aquaria/ @tioui

# ArchipIDLE
/worlds/archipidle/ @LegendaryLinux

# Blasphemous
/worlds/blasphemous/ @TRPG0

# Bomb Rush Cyberfunk
/worlds/bomb_rush_cyberfunk/ @TRPG0

# Bumper Stickers
/worlds/bumpstik/ @FelicitusNeko

# Castlevania 64
/worlds/cv64/ @LiquidCat64

# Celeste 64
/worlds/celeste64/ @PoryGone

# ChecksFinder
/worlds/checksfinder/ @SunCatMC

# Clique
/worlds/clique/ @ThePhar

# Dark Souls III
/worlds/dark_souls_3/ @Marechal-L @nex3

# Donkey Kong Country 3
/worlds/dkc3/ @PoryGone

# DLCQuest
/worlds/dlcquest/ @axe-y @agilbert1412

# DOOM 1993
/worlds/doom_1993/ @Daivuk @KScl

# DOOM II
/worlds/doom_ii/ @Daivuk @KScl

# Factorio
/worlds/factorio/ @Berserker66

# Faxanadu
/worlds/faxanadu/ @Daivuk

# Final Fantasy Mystic Quest
/worlds/ffmq/ @Alchav @wildham0

# Heretic
/worlds/heretic/ @Daivuk @KScl

# Hollow Knight
/worlds/hk/ @BadMagic100 @qwint

# Hylics 2
/worlds/hylics2/ @TRPG0

# Kirby's Dream Land 3
/worlds/kdl3/ @Silvris

# Kingdom Hearts
/worlds/kh1/ @gaithern

# Kingdom Hearts 2
/worlds/kh2/ @JaredWeakStrike

# Landstalker: The Treasures of King Nole
/worlds/landstalker/ @Dinopony

# Lingo
/worlds/lingo/ @hatkirby

# Lufia II Ancient Cave
/worlds/lufia2ac/ @el-u
/worlds/lufia2ac/docs/ @wordfcuk @el-u

# Mario & Luigi: Superstar Saga
/worlds/mlss/ @jamesbrq

# Meritous
/worlds/meritous/ @FelicitusNeko

# The Messenger
/worlds/messenger/ @alwaysintreble

# Minecraft
/worlds/minecraft/ @KonoTyran @espeon65536

# Mega Man 2
/worlds/mm2/ @Silvris

# MegaMan Battle Network 3
/worlds/mmbn3/ @digiholic

# Muse Dash
/worlds/musedash/ @DeamonHunter

# Noita
/worlds/noita/ @ScipioWright @heinermann

# Old School Runescape
/worlds/osrs @digiholic

# Overcooked! 2
/worlds/overcooked2/ @toasterparty

# Pokemon Emerald
/worlds/pokemon_emerald/ @Zunawe

# Pokemon Red and Blue
/worlds/pokemon_rb/ @Alchav

# Raft
/worlds/raft/ @SunnyBat

# Rogue Legacy
/worlds/rogue_legacy/ @ThePhar

# Risk of Rain 2
/worlds/ror2/ @kindasneaki

# Shivers
/worlds/shivers/ @GodlFire

# A Short Hike
/worlds/shorthike/ @chandler05 @BrandenEK

# Sonic Adventure 2 Battle
/worlds/sa2b/ @PoryGone @RaspberrySpace

# Starcraft 2
/worlds/sc2/ @Ziktofel

# Super Metroid
/worlds/sm/ @lordlou

# Super Mario 64
/worlds/sm64ex/ @N00byKing

# Super Mario World
/worlds/smw/ @PoryGone

# SMZ3
/worlds/smz3/ @lordlou

# Secret of Evermore
/worlds/soe/ @black-sliver

# Slay the Spire
/worlds/spire/ @KonoTyran

# Stardew Valley
/worlds/stardew_valley/ @agilbert1412

# Subnautica
/worlds/subnautica/ @Berserker66

# Terraria
/worlds/terraria/ @Seldom-SE

# Timespinner
/worlds/timespinner/ @Jarno458

# The Legend of Zelda (1)
/worlds/tloz/ @Rosalie-A @t3hf1gm3nt

# TUNIC
/worlds/tunic/ @silent-destroyer @ScipioWright

# Undertale
/worlds/undertale/ @jonloveslegos

# VVVVVV
/worlds/v6/ @N00byKing

# Wargroove
/worlds/wargroove/ @FlySniper

# The Witness
/worlds/witness/ @NewSoupVi @blastron

# Yacht Dice
/worlds/yachtdice/ @spinerak

# Yoshi's Island
/worlds/yoshisisland/ @PinkSwitch

#Yu-Gi-Oh! Ultimate Masters: World Championship Tournament 2006
/worlds/yugioh06/ @Rensen3

# Zillion
/worlds/zillion/ @beauxq

# Zork Grand Inquisitor
/worlds/zork_grand_inquisitor/ @nbrochu


## Active Unmaintained Worlds

# The following worlds in this repo are currently unmaintained, but currently still work in core. If any update breaks
# compatibility, these worlds may be moved to `worlds_disabled`. If you are interested in stepping up as maintainer for
# any of these worlds, please review `/docs/world maintainer.md` documentation.

# Final Fantasy (1)
# /worlds/ff1/

# Links Awakening DX
# /worlds/ladx/

# Ocarina of Time
# /worlds/oot/

## Disabled Unmaintained Worlds

# The following worlds in this repo are currently unmaintained and disabled as they do not work in core. If you are
# interested in stepping up as maintainer for any of these worlds, please review `/docs/world maintainer.md`
# documentation.

# Ori and the Blind Forest
# /worlds_disabled/oribf/

###################
## Documentation ##
###################

# Apworld Dev Faq
/docs/apworld_dev_faq.md @qwint @ScipioWright

