.page-container {
    margin: 8px;
}

.generic-tracker-link {
    margin-bottom: 0.5rem;
}

.tracker-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.game-state-container {
    grid-column: 1;
}

.rats-and-auras-container {
    display: grid;
    grid-template-columns: minmax(128px, 1.05fr) 1fr; /* thought: shrink the images based on @media? seems overkill... */
}

.received-items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: start;
}

.world-maps-container {
    grid-column: 2;
    width: 80%;
}

.rats-container {
    grid-column: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: start;
}

.received-item img {
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
}

.received-normal-rat {
    position: relative;
}

.auras-container {
    grid-column: 2;
}

.auras-container h2:nth-of-type(1) {
    margin-top: 0;
}

.not-found img {
    filter: saturate(0.2) brightness(0.3);
}

.overlaid-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
