@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

    a {
        filter: brightness(3);
    }
}

.page-container {
    margin: 8px;
}

.generic-tracker-link {
    margin-bottom: 0.5rem;
}

.tracker-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.game-state-container {
    grid-column: 1;
}

.rats-and-auras-container {
    display: grid;
    grid-template-columns: minmax(128px, 1.05fr) 1fr; /* thought: shrink the images based on @media? seems overkill... */
}

.received-items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: start;
}

.world-maps-container {
    grid-column: 2;
    width: 80%;
}

.rats-container {
    grid-column: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: start;
}

.received-item img {
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
}

.received-normal-rat {
    position: relative;
}

.auras-container {
    grid-column: 2;
}

.auras-container h2:nth-of-type(1) {
    margin-top: 0;
}

.received-item:not(.not-found) {
    filter: drop-shadow(0px 0px 10px rgba(150, 150, 0, 0.70));
}

.received-item.not-found {
    filter: saturate(0.2) brightness(0.3) drop-shadow(0px 0px 10px rgba(234, 126, 128, 0.60));
}

.overlaid-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
