#cloud-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: url('../static/backgrounds/header/cloud-header.png') repeat-x;
    background-size: auto 90px;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: HyliaSerif, sans-serif;
    padding: 10px;
    line-height: 2rem;
    z-index: 9999;
}

#cloud-header #site-title{
    margin-right: 7px;
}

#cloud-header #cloud-header-spacer{
    flex-grow: 1
}

#cloud-header #site-title img{
    width: 40px;
    height: 40px;
}

#cloud-header a{
    color: #2f6b83;
    text-decoration: none;
    cursor: pointer;
    margin-right: 1.2rem;
    font-size: 1.2rem;
}
