#cookie-notice{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    background-color: #c7cda5;
    text-align: center;
    cursor: pointer;
}

#cookie-notice #close-button{
    float: right;
    padding-right: 10px;
}
