#game-settings{
    margin-left: auto;
    margin-right: auto;
}

#game-settings table{

}

#game-settings table td.option-name{

}

#game-settings table td.option-name label{
    font-weight: bold;
}

#game-settings table .option-value{

}

#game-settings table .option-value input{

}
