#generate-game-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#generate-game{
    width: 990px;
    min-height: 360px;
    text-align: center;
}

#generate-game p{
    text-align: left;
}

#generate-game button{
    margin-top: 35px;
}

#generate-game-form-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#generate-game-tables-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.table-wrapper select {
    width: 200px;
}

.table-wrapper input:not([type]){
    width: 200px;
}

#generate-game-form-wrapper table td{
    text-align: left;
    padding-right: 0.5rem;
    vertical-align: top;
    width: 230px;
}

#generate-form-button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#file-input{
    display: none;
}
