@font-face {
    font-family: "HyliaSerif";
    src: url('../static/fonts/HyliaSerifBeta-Regular.otf') format("opentype");
}

html{
    background-image: url('../static/backgrounds/oceans/oceans-0002.png');
    background-repeat: repeat;
    background-size: 250px 250px;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    color: #000000;
}

body{
    margin: 0;
}

a{
    color: #ffef00;
}

button{
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 10px 17px 11px 16px;
    border-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    font-kerning: auto;
    cursor: pointer;
}

button:active{
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-right: 16px;
    padding-bottom: 10px;
    margin-bottom: 2px;
}

button.button-grass{
    border: 1px solid black;
}

button.button-dirt{
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6{
    font-family: HyliaSerif, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #032605;
}

h1{ font-size: 3rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.75rem; }
h4{
    font-size: 1.5rem;
    margin-bottom:0.5rem;
}
h5, h6{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.grass-island{
    background:
        url('../static/backgrounds/cliffs/grass/cliff-top-left-corner.png') top left no-repeat,
        url('../static/backgrounds/cliffs/grass/cliff-top-right-corner.png') top right no-repeat,
        url('../static/backgrounds/cliffs/grass/cliff-bottom-left-corner.png') bottom left no-repeat,
        url('../static/backgrounds/cliffs/grass/cliff-bottom-right-corner.png') bottom right no-repeat,
        url('../static/backgrounds/cliffs/grass/cliff-top.png') top repeat-x,
        url('../static/backgrounds/cliffs/grass/cliff-bottom.png') bottom repeat-x,
        url('../static/backgrounds/cliffs/grass/cliff-left.png') left repeat-y,
        url('../static/backgrounds/cliffs/grass/cliff-right.png') right repeat-y,
        url('../static/backgrounds/grass/grass-0007-large.png') repeat;

    background-size:
        140px 120px, /* top-left */
        140px 120px, /* top-right */
        140px 140px, /* bottom-left */
        140px 140px, /* bottom-right */
        20px 71px, /* top */
        20px 100px, /* bottom */
        71px 20px, /* left */
        71px 20px, /* right */
        525px 525px; /* center */

    min-width: 280px;
    min-height: 280px;

    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
    padding-bottom: 120px;
}

