html{
    background-image: url('../static/backgrounds/grass/grass-0007-large.png');
    background-repeat: repeat;
    background-size: 650px 650px;
}

#host-room{
    width: calc(100% - 5rem);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 1rem;
    color: #eeffeb;
}

#host-room a{
    color: #ffef00;
}

#host-room input[type=text]{
    border: 1px solid #000000;
    padding: 3px;
    border-radius: 3px;
    width: 500px;
}
