#host-room{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 1rem;
    color: #eeffeb;
    font-family: LexendDeca-Light, sans-serif;
    line-height: 24px;
}

#host-room div{
    line-height: 26px;
}

#host-room a{
    color: #ffef00;
}

#host-room input[type=text]{
    border: 1px solid #000000;
    padding: 3px;
    border-radius: 3px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 6px;
}

#host-room table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 0.5rem;
    width: 100%;
}

#host-room table th{
    text-align: left;
    padding: 10px;
    border: 1px solid white;
    font-size: 20px;
    font-family: LexendDeca-Regular, sans-serif;
}

#host-room table td{
    border: 1px solid white;
    text-align: left;
    padding: 10px;
}

#host-room #logger{
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    background-color: #b5e9a4;
    border: 1px solid #2a6c2f;
    border-radius: 6px;
    color: #000000;
    overflow-y: auto;
    max-height: 400px;
}

.loader{
  display: inline-block;
  visibility: hidden;
  margin-left: 5px;
  width: 40px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#fff 90%,#fff0);
  background:
    var(--_g) 0    50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

.loader.loading{
  visibility: visible;
}

@keyframes l7{
  33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
  50%{background-size:calc(100%/3) 100%,calc(100%/3) 0   ,calc(100%/3) 100%}
  66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0   }
}
