#island-footer{
    background: url('../static/backgrounds/footer/footer-0003.png') repeat-x bottom;
    background-size: auto 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 0.5rem);
    height: 90px;
    padding-left: 0.5rem;
    line-height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}
