#landing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#landing-header{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

#landing-header h1{
    color: #ffffff;
    font-size: 3.5rem;
    text-shadow: 1px 1px 7px #000000;
    -webkit-text-stroke: 1px #00582e;
}

#landing-header h4{
    color: #ffffff;
    font-size: 1.75rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 7px #000000;
    font-kerning: none;
}

#landing-buttons{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

#landing{
    width: 860px;
    min-height: 320px;
    margin-left: auto;
    margin-right: auto;
}

