html{
    overflow-x: hidden;
}

#landing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#landing-header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

#landing-header #landing-logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 140px;
}

#landing-header h4{
    color: #ffffff;
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: 0;
    text-shadow: 1px 1px 7px #000000;
    font-kerning: none;
    z-index: 10;
}

#landing-links{
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}

#landing-links a{
    position: absolute;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    font-kerning: none;
    text-decoration: none;
    text-shadow: 1px 1px 7px #000000;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-family: LondrinaSolid-Light, sans-serif;
}

#far-left-button{
    top: 160px;
    left: calc(50% - 416px - 200px - 75px);
    background-image: url("/static/static/button-images/island-button-a.png");
    background-size: 200px auto;
    width: 200px;
    height: calc(156px - 40px);
    padding-top: 40px;
    cursor: pointer;
}

#mid-left-button{
    top: 365px;
    left: calc(50% - 416px - 200px + 140px);
    background-image: url("/static/static/button-images/island-button-b.png");
    background-size: 260px auto;
    width: 260px;
    height: calc(130px - 35px);
    padding-top: 43px;
}

#mid-button{
    top: 445px;
    left: calc(50% - 100px);
    background-image: url("/static/static/button-images/island-button-a.png");
    background-size: 200px auto;
    width: 200px;
    height: calc(156px - 38px);
    padding-top: 40px;
}

#mid-right-button{
    top: 345px;
    left: calc(50% + 416px - 166px);
    background-image: url("/static/static/button-images/island-button-c.png");
    background-size: 250px auto;
    width: calc(250px - 20px);
    height: calc(180px - 90px);
    padding-top: 94px;
    padding-left: 20px;
}

#far-right-button{
    top: 170px;
    left: calc(50% + 416px + 75px);
    background-image: url("/static/static/button-images/island-button-b.png");
    background-size: 260px auto;
    width: 260px;
    height: calc(130px - 35px);
    padding-top: 42px;
}

#landing-clouds{
    z-index: 5;
}

#landing-clouds #cloud1{
    position: absolute;
    left: 10px;
    top: 365px;
    width: 400px;
    height: 350px;

    animation-name: c1-float;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#landing-clouds #cloud2{
    position: absolute;
    right: 82px;
    top: 320px;
    width: 300px;
    height: 300px;

    animation-name: c2-float;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#landing-clouds #cloud3{
    position: absolute;
    right: 24px;
    top: 570px;
    width: 200px;
    height: 325px;

    animation-name: c3-float;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#landing #first-line{
    font-family: LondrinaSolid-Light, sans-serif;
    font-size: 25px;
    margin: 20px 0;
    text-transform: uppercase;
}

@keyframes c1-float{
    from{
        left: 10px;
        top: 365px;
    }
    25%{
        left: 14px;
        top: 367px;
    }
    50%{
        left: 17px;
        top: 365px;
    }
    75%{
        left: 14px;
        top: 362px;
    }
    to{
        left: 10px;
        top: 365px;
    }
}

@keyframes c2-float {
    from{
        right: 82px;
        top: 320px;
    }
    25%{
        right: 85px;
        top: 323px;
    }
    50%{
        right: 81px;
        top: 326px;
    }
    75%{
        right: 79px;
        top: 326px;
    }
    to{
        right: 82px;
        top: 320px;
    }
}

@keyframes c3-float {
    from{
        right: 24px;
        top: 570px;
    }
    25%{
        right: 26px;
        top: 567px;
    }
    50%{
        right: 25px;
        top: 570px;
    }
    75%{
        right: 22px;
        top: 572px;
    }
    to{
        right: 24px;
        top: 570px;
    }
}

#landing{
    max-width: 700px;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
}

#landing-body{
    font-family: LexendDeca-Light, sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
}


.landing-deco{
    position: absolute;
}

.landing-deco.deco-island{
    width: 110px;
}

.landing-deco.deco-rock{
    width: 30px;
}

#landing-deco-1{
    top: 525px;
    left: calc(50% - 276px);
}

#landing-deco-2{
    top: 355px;
    left: calc(50% + 110px);
}

#landing-deco-3{
    top: 395px;
    left: calc(50% - 150px);
}

#landing-deco-4{
    top: 335px;
    left: calc(50% - 580px);
}

#landing-deco-5{
    top: 135px;
    left: calc(50% + 450px);
}

#landing-deco-6{
    top: 507px;
    left: calc(50% + 196px);
}

@media all and (max-width: 1580px){
    #landing-clouds #cloud1, #landing-clouds #cloud2, #landing-clouds #cloud3{
        display: none;
    }

    #landing-header{ order: 1; }
    #landing-links{ order: 3; }
    #landing-clouds{ order: 4; }
    #decorations{ order: 5; }
    #landing{ order: 2; }

    #landing-links{
        display: none;
    }

    .landing-deco{
        display: none;
    }
}
