.markdown{
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 25px 30px 30px;
    font-family: LexendDeca-Light, sans-serif;
    font-size: 19px;
}

.markdown img{
    max-width: 100%;
    border-radius: 6px;
}

.markdown p{
    margin-top: 0;
}

.markdown a{}

.markdown h1, .markdown details summary.h1{
    font-size: 52px;
    font-weight: normal;
    font-family: LondrinaSolid-Regular, sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 1px 1px 4px #000000;
}

.markdown h2, .markdown details summary.h2{
    font-size: 38px;
    font-weight: normal;
    font-family: LondrinaSolid-Light, sans-serif;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px #000000;
}

.markdown h3, .markdown details summary.h3{
    font-size: 26px;
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;
}

.markdown h4, .markdown details summary.h4{
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    font-size: 24px;
    margin-bottom: 24px;
}

.markdown h5, .markdown details summary.h5{
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    font-size: 22px;
}

.markdown h6, .markdown details summary.h6{
    font-family: LexendDeca-Regular, sans-serif;
    text-transform: none;
    font-size: 20px;
}

.markdown h4, .markdown h5, .markdown h6{
    margin-bottom: 0.5rem;
}

.markdown h1 > a,
.markdown h2 > a,
.markdown h3 > a,
.markdown h4 > a,
.markdown h5 > a,
.markdown h6 > a {
    color: inherit;
}

.markdown ul{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown ol{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown li{

}

.markdown #tutorial-video-container{
    width: 100%;
    text-align: center;
}

.markdown #language-selector-wrapper{
    width: 100%;
    text-align: right;
}

.markdown table{
    border-collapse: collapse;
    margin-bottom: 0.5rem;
}

.markdown table th{
    text-align: left;
    padding: 10px;
    border: 1px solid white;
    font-size: 20px;
    font-family: LexendDeca-Regular, sans-serif;
}

.markdown table td{
    border: 1px solid white;
    text-align: left;
    padding: 10px;
}

.markdown pre{
    overflow-x: auto;
}

strong{
    font-family: LexendDeca-Medium, sans-serif;
    font-weight: normal;
}
