#tracker-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    color: #000000
}

.dirt-wrapper{
    background-color: #897249;
}

.dirt-wrapper h1{}

.grass-wrapper{
    background-color: #3fb24a;
}

.grass-wrapper h1{}

.grassFlowers-wrapper{
    background-color: #3fb24a;
}

.grassFlowers-wrapper h1{}

.ice-wrapper{
    background-color: #afe0ef;
}

.ice-wrapper h1{}

.jungle-wrapper{
    background-color: #2a7808;
}

.jungle-wrapper h1{}

.ocean-wrapper{
    background-color: #3667b1;
}

.ocean-wrapper h1{}

.partyTime-wrapper{
    background-color: #3a0f69;
}

.partyTime-wrapper h1{}

h1 {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

h2 {
    padding: 8px;
}

.items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
}

.item-column{
    padding: 5px;
}

.locations-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    text-align: left;
}

.location-column{
    padding: 15px;
}

.acquired{
    text-decoration: line-through;
    filter: none;
}

.regions-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    text-align: left;
}

.region-header{
    font-size: 18px;
    padding: 15px;
    text-align: left;
}

.image-container{
    justify-content: relative;
    height: 60px;
    width: 60px;
    text-align: center;
    text-shadow: 1px 1px black;
    padding: 5px;
}

.bottom-right{
    position: relative;
    bottom: 20px;
    left: 5px;
    padding: none;
}

.icon{
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    filter: grayscale(100%) contrast(75%) brightness(40%);
}

.icon.acquired{
    filter: none;
}
