html{
    background-image: url('../static/backgrounds/grass.png');
    background-repeat: repeat;
    background-size: 650px 650px;
}

#player-settings{
    box-sizing: border-box;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 1rem;
    color: #eeffeb;
}

#player-settings #player-settings-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

#player-settings code{
    background-color: #d9cd8e;
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}

#player-settings #user-message{
    display: none;
    width: calc(100% - 8px);
    background-color: #ffe86b;
    border-radius: 4px;
    color: #000000;
    padding: 4px;
    text-align: center;
}

#player-settings #user-message.visible{
    display: block;
    cursor: pointer;
}

#player-settings h1{
    font-size: 2.5rem;
    font-weight: normal;
    width: 100%;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 4px #000000;
}

#player-settings h2{
    font-size: 40px;
    font-weight: normal;
    width: 100%;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px #000000;
}

#player-settings h3, #player-settings h4, #player-settings h5, #player-settings h6{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#player-settings input:not([type]){
    border: 1px solid #000000;
    padding: 3px;
    border-radius: 3px;
    min-width: 150px;
}

#player-settings input:not([type]):focus{
    border: 1px solid #ffffff;
}

#player-settings select{
    border: 1px solid #000000;
    padding: 3px;
    border-radius: 3px;
    min-width: 150px;
    background-color: #ffffff;
}

#player-settings #game-options, #player-settings #rom-options{
    display: flex;
    flex-direction: row;
}

#player-settings .left, #player-settings .right{
    flex-grow: 1;
}

#player-settings .left{
    margin-right: 10px;
}

#player-settings .right{
    margin-left: 10px;
}

#player-settings table{
    margin-bottom: 30px;
    width: 100%;
}

#player-settings table .select-container{
    display: flex;
    flex-direction: row;
}

#player-settings table .select-container select{
    min-width: 200px;
    flex-grow: 1;
}

#player-settings table select:disabled{
    background-color: lightgray;
}

#player-settings table .range-container{
    display: flex;
    flex-direction: row;
}

#player-settings table .range-container input[type=range]{
    flex-grow: 1;
}

#player-settings table .range-value{
    min-width: 20px;
    margin-left: 0.25rem;
}

#player-settings table .special-range-container{
    display: flex;
    flex-direction: column;
}

#player-settings table .special-range-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 0.25rem;
}

#player-settings table .special-range-wrapper input[type=range]{
    flex-grow: 1;
}

#player-settings table .randomize-button {
    max-height: 24px;
    line-height: 16px;
    padding: 2px 8px;
    margin: 0 0 0 0.25rem;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 3px;
}

#player-settings table .randomize-button.active {
    background-color: #ffef00; /* Same as .interactive in globalStyles.css */
}

#player-settings table .randomize-button[data-tooltip]::after {
    left: unset;
    right: 0;
}

#player-settings table label{
    display: block;
    min-width: 200px;
    margin-right: 4px;
    cursor: default;
}

#player-settings th, #player-settings td{
    border: none;
    padding: 3px;
    font-size: 17px;
    vertical-align: top;
}

@media all and (max-width: 1024px) {
    #player-settings {
        border-radius: 0;
    }

    #player-settings #game-options{
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #player-settings .left,
    #player-settings .right {
        margin: 0;
    }

    #game-options table {
        margin-bottom: 0;
    }

    #game-options table label{
        display: block;
        min-width: 200px;
    }

    #game-options table tr td {
        width: 50%;
    }
}
