html{
    background-image: url('../static/backgrounds/dirt/dirt-0005-large.png');
    background-repeat: repeat;
    background-size: 900px 900px;
}

#player-settings{
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 1rem;
    color: #ffe993;
}

#player-settings code{
    background-color: #d9cd8e;
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}

#player-settings .instructions{
    text-align: left;
}

#player-settings #settings-wrapper .setting-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

#player-settings #settings-wrapper .setting-wrapper .title-span{
    font-weight: bold;
}

#player-settings #settings-wrapper{
    margin-top: 1.5rem;
}

#player-settings #settings-wrapper #sprite-picker{
    margin-bottom: 2rem;
}

#player-settings #settings-wrapper #sprite-picker #sprite-picker-sprites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#player-settings #settings-wrapper #sprite-picker .sprite-img-wrapper{
    cursor: pointer;
    margin: 10px;
    image-rendering: pixelated;
}

/* Center tooltip text for sprite images */
#player-settings #settings-wrapper #sprite-picker .sprite-img-wrapper::after{
    text-align: center;
}

#player-settings #settings-wrapper #sprite-picker .sprite-img-wrapper img{
    width: 32px;
    height: 48px;
}

#player-settings table.option-set{
    width: 100%;
    margin-bottom: 1.5rem;
}

#player-settings table.option-set td.option-name{
    width: 150px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
}

#player-settings table.option-set td.option-name .delete-button{
    cursor: pointer;
}

#player-settings table.option-set td.option-value{
    line-height: 2rem;
}

#player-settings table.option-set td.option-value input[type=range]{
    width: 90%;
    min-width: 300px;
    vertical-align: middle;
}

#player-settings #player-settings-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
