#game-settings{
    margin-left: auto;
    margin-right: auto;
}

#game-settings code{
    background-color: #dbe1bc;
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#game-settings .instructions{
    text-align: left;
}

#game-settings #settings-wrapper .setting-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

#game-settings #settings-wrapper .setting-wrapper .title-span{
    font-weight: bold;
}

#game-settings #settings-wrapper{
    margin-top: 1.5rem;
}

#game-settings #settings-wrapper #sprite-picker{
    margin-bottom: 2rem;
}

#game-settings #settings-wrapper #sprite-picker #sprite-picker-sprites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#game-settings #settings-wrapper #sprite-picker .sprite-img-wrapper{
    cursor: pointer;
    margin: 10px;
    image-rendering: pixelated;
}

/* Center tooltip text for sprite images */
#game-settings #settings-wrapper #sprite-picker .sprite-img-wrapper::after{
    text-align: center;
}

#game-settings #settings-wrapper #sprite-picker .sprite-img-wrapper img{
    width: 32px;
    height: 48px;
}

#game-settings table.option-set{
    width: 100%;
    margin-bottom: 1.5rem;
}

#game-settings table.option-set td.option-name{
    width: 150px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
}

#game-settings table.option-set td.option-name .delete-button{
    cursor: pointer;
}

#game-settings table.option-set td.option-value{
    line-height: 2rem;
}

#game-settings table.option-set td.option-value input[type=range]{
    width: 90%;
    min-width: 300px;
    vertical-align: middle;
}

#game-settings #game-settings-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
