#player-tracker-wrapper{
    margin: 0;
}

#inventory-table{
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px 3px 10px;
    width: 710px;
    background-color: #525494;
}

#inventory-table td{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

#inventory-table td.title{
    padding-top: 10px;
    height: 20px;
    font-family: "JuraBook", monospace;
    font-size: 16px;
    font-weight: bold;
}

#inventory-table img{
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    border: 1px solid #000000;
    filter: grayscale(100%) contrast(75%) brightness(20%);
    background-color: black;
}

#inventory-table img.acquired{
    filter: none;
    background-color: black;
}

#inventory-table div.counted-item {
    position: relative;
}

#inventory-table div.item-count {
    text-align: left;
    color: black;
    font-family: "JuraBook", monospace;
    font-weight: bold;
}

#location-table{
    width: 710px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #525494;
    padding: 10px 3px 3px;
    font-family: "JuraBook", monospace;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

#location-table th{
    vertical-align: middle;
    text-align: left;
    padding-right: 10px;
}

#location-table td{
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 20px;
}

#location-table td.counter {
    text-align: right;
    font-size: 14px;
}

#location-table td.toggle-arrow {
    text-align: right;
}

#location-table tr#Total-header {
    font-weight: bold;
}

#location-table img{
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}

#location-table tbody.locations {
    font-size: 16px;
}

#location-table td.location-name {
    padding-left: 16px;
}

.hide {
    display: none;
}
