#player-tracker-wrapper{
    margin: 0;
}

#inventory-table{
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px 3px 10px;
    width: 384px;
    background-color: #546E7A;
}

#inventory-table td{
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}

#inventory-table img{
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    filter: grayscale(100%) contrast(75%) brightness(30%);
}

#inventory-table img.acquired{
    filter: none;
}

#inventory-table div.counted-item {
    position: relative;
}

#inventory-table div.item-count {
    position: absolute;
    color: white;
    font-family: "Minecraftia", monospace;
    font-weight: bold;
    bottom: 0;
    right: 0;
}

#location-table{
    width: 384px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #546E7A;
    color: #ffffff;
    padding: 0 3px 3px;
    font-size: 14px;
    cursor: default;
}

#location-table th{
    vertical-align: middle;
    text-align: left;
    padding-right: 10px;
}

#location-table td{
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 20px;
}

#location-table td.counter {
    text-align: right;
    font-size: 14px;
}

#location-table td.toggle-arrow {
    text-align: right;
}

#location-table tr#Total-header {
    font-weight: bold;
}

#location-table img{
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}

#location-table tbody.locations {
    font-size: 12px;
}

#location-table td.location-name {
    padding-left: 16px;
}

.hide {
    display: none;
}

body {
    background-color: #000000;
}
