#games{
    width: 60%;
    margin: auto auto 30px;
}

#games h2, #games h3, #games h4, #games h5, #games h6 {
    text-transform: none;
    cursor: unset;
}

#games h1{
    font-size: 60px;
    cursor: unset;
}

#games summary{
    color: #93dcff;
    margin-bottom: 2px;
    margin-top: 20px;
    cursor: pointer;
}

#games summary > *{
    display: inline;
}

#games a{
    font-size: 16px;
}

#games .link-spacer{
    margin: 0 6px;
    color: #fffc95;
}

#games p{
    line-height: 25px;
    margin-bottom: 7px;
}

#games .page-controls{
    display: flex;
    flex-direction: row;
    margin-top: 0.25rem;
}

#games .page-controls button{
    margin-left: 0.5rem;
}
