table.dataTable{
    width: 100%;
}

table.dataTable, table.dataTable.no-footer{
    border: none;
    font-size: 1rem;
    text-align: left;
    border-collapse: collapse;
}

.dataTables_wrapper .dataTables_filter{
    float: none;
    text-align: left;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{
    background-image: none;
}

table.dataTable thead{
    /* background-color: #b0a77d; */
}

table.dataTable thead tr th{
    border: none;
    padding: 5px;
}

table.dataTable tbody tr{
    background-color: inherit;
}

table.dataTable tbody tr:hover{
    /* background-color: #e2eabb; */
}
