#player-tracker-wrapper{
    margin: 0;
}

#inventory-table{
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px 3px 10px;
    width: 374px;
    background-color: #8d60a7;

    display: grid;
    grid-template-rows: repeat(5, 48px);
}

#inventory-table img{
    display: block;
}

#inventory-table div.table-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#inventory-table div.C1{
    grid-column: 1;
    place-content: center;
    place-items: center;
    display: flex;
}
#inventory-table div.C2{
    grid-column: 2;
    place-content: center;
    place-items: center;
    display: flex;
}
#inventory-table div.C3{
    grid-column: 3;
    place-content: center;
    place-items: center;
    display: flex;
}
#inventory-table div.C4{
    grid-column: 4;
    place-content: center;
    place-items: center;
    display: flex;
}
#inventory-table div.C5{
    grid-column: 5;
    place-content: center;
    place-items: center;
    display: flex;
}

#inventory-table img{
    max-width: 40px;
    max-height: 40px;
    filter: grayscale(100%) contrast(75%) brightness(30%);
}

#inventory-table img.acquired{
    filter: none;
}

#inventory-table img.acquired.purple{ /*00FFFF*/
    filter: hue-rotate(270deg) saturate(6) brightness(0.8);
}
#inventory-table img.acquired.cyan{ /*FF00FF*/
    filter: hue-rotate(138deg) saturate(10) brightness(0.8);
}
#inventory-table img.acquired.green{ /*32CD32*/
    filter: hue-rotate(84deg) saturate(10) brightness(0.7);
}
#inventory-table img.acquired.hotpink{ /*FF69B4*/
    filter: sepia(100%) hue-rotate(300deg) saturate(10);
}
#inventory-table img.acquired.lightsalmon{ /*FFA07A*/
    filter: sepia(100%) hue-rotate(347deg) saturate(10);
}
#inventory-table img.acquired.crimson{ /*DB143B*/
    filter: sepia(100%) hue-rotate(318deg) saturate(10) brightness(0.86);
}

#inventory-table span{
    color: #B4B4A0;
    font-size: 40px;
    max-width: 40px;
    max-height: 40px;
    filter: grayscale(100%) contrast(75%) brightness(30%);
}

#inventory-table span.acquired{
    filter: none;
}

#inventory-table div.image-stack{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#inventory-table div.image-stack div.stack-back{
    grid-column: 1;
    grid-row: 1;
}

#inventory-table div.image-stack div.stack-front{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: 20px 20px;
}

#inventory-table div.image-stack div.stack-top-left{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

#inventory-table div.image-stack div.stack-top-right{
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
}

#inventory-table div.image-stack div.stack-bottum-left{
    grid-column: 1;
    grid-row: 2;
    z-index: 1;
}

#inventory-table div.image-stack div.stack-bottum-right{
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
}

#inventory-table div.image-stack div.stack-front img{
    width: 20px;
    height: 20px;
}

#inventory-table div.counted-item{
    position: relative;
}

#inventory-table div.item-count{
    position: absolute;
    color: white;
    font-family: "Minecraftia", monospace;
    font-weight: bold;
    bottom: 0;
    right: 0;
}

#location-table{
    width: 384px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #8d60a7;
    padding: 0 3px 3px;
    font-size: 14px;
    cursor: default;
}

#location-table th{
    vertical-align: middle;
    text-align: left;
    padding-right: 10px;
}

#location-table td{
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 20px;
}

#location-table td.counter{
    text-align: right;
    font-size: 14px;
}

#location-table td.toggle-arrow{
    text-align: right;
}

#location-table tr#Total-header{
    font-weight: bold;
}

#location-table img{
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}

#location-table tbody.locations{
    font-size: 12px;
}

#location-table td.location-name{
    padding-left: 16px;
}

.hide{
    display: none;
}
