#tracker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 1rem);
}

#tracker-wrapper a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

#tracker-header-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    line-height: 20px;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#tracker-header-bar .info {
    color: var(--text);
    padding: 2px;
    flex-grow: 1;
    align-self: center;
    text-align: justify;
}

#tracker-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.5rem 0.5rem 0.5rem;
    user-select: none;
    height: 2rem;
}

.tracker-navigation-bar {
    display: flex;
    background-color: var(--panel);
    border-radius: 4px;
}

.tracker-navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: black !important;
    font-weight: lighter;
}

.tracker-navigation-button:hover {
    background-color: #e6e6e6 !important;
}

.tracker-navigation-button.selected {
    background-color: #d6d6d6;
}

.table-wrapper {
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 1rem;
    resize: vertical;
}

#search {
    border: 1px solid var(--border);
    border-radius: 3px;
    padding: 3px;
    width: 200px;
}

div.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
}

table.dataTable {
    color: var(--text);
}

table.dataTable thead {
    font-family: var(--font-body);
}

table.dataTable tbody, table.dataTable tfoot {
    background-color: var(--bg);
    font-family: var(--font-body);
}

table.dataTable tbody tr:hover, table.dataTable tfoot tr:hover {
    background-color: #e6e6e6;
}

table.dataTable tbody td, table.dataTable tfoot td {
    padding: 4px 6px;
}

table.dataTable, table.dataTable.no-footer {
    border-left: 1px solid var(--border);
    width: calc(100% - 2px) !important;
    font-size: 1rem;
}

table.dataTable thead th {
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--panel);
    top: 0;
}

table.dataTable thead th.upper-row {
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--panel);
    height: 36px;
    top: 0;
}

table.dataTable thead th.lower-row {
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--panel);
    height: 22px;
    top: 46px;
}

table.dataTable tbody td, table.dataTable tfoot td {
    border: 1px solid var(--border);
}

table.dataTable tfoot td {
    font-weight: bold;
}

div.dataTables_scrollBody {
    background-color: inherit !important;
}

table.dataTable .center-column {
    text-align: center;
}

img.icon-sprite {
    height: auto;
    max-height: 32px;
    min-height: 14px;
}

.item-acquired {
    background-color: #cccccc;
}

@media all and (max-width: 1700px) {
    table.dataTable thead th.upper-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: var(--panel);
        height: 27px;
        top: 0;
    }

    table.dataTable thead th.lower-row {
        position: -webkit-sticky;
        position: sticky;
        background-color: var(--panel);
        height: 20px;
        top: 37px;
    }

    table.dataTable, table.dataTable.no-footer {
        font-size: 0.8rem;
    }

    img.icon-sprite {
        height: auto;
        max-height: 24px;
        min-height: 10px;
    }
}

@media all and (max-width: 1400px) {
    table.dataTable thead th.upper-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: var(--panel);
        height: 22px;
        top: 0;
    }

    table.dataTable thead th.lower-row {
        position: -webkit-sticky;
        position: sticky;
        background-color: var(--panel);
        height: 19px;
        top: 32px;
    }

    table.dataTable, table.dataTable.no-footer {
        font-size: 0.6rem;
    }

    img.icon-sprite {
        height: auto;
        max-height: 20px;
        min-height: 10px;
    }
}
