#tracker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 1rem);
}

#tracker-wrapper a{
    color: #234ae4;
    text-decoration: none;
    cursor: pointer;
}

.table-wrapper{
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 1rem;
}

#tracker-header-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 20px;
}

#tracker-header-bar .info{
    color: #ffffff;
}

#search{
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 3px;
    width: 200px;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

#multi-stream-link{
    margin-right: 1rem;
}

div.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border: none;
}

table.dataTable{
    color: #000000;
}

table.dataTable thead{
    font-family: LexendDeca-Regular, sans-serif;
}

table.dataTable tbody, table.dataTable tfoot{
    background-color: #dce2bd;
    font-family: LexendDeca-Light, sans-serif;
}

table.dataTable tbody tr:hover, table.dataTable tfoot tr:hover{
    background-color: #e2eabb;
}

table.dataTable tbody td, table.dataTable tfoot td{
    padding: 4px 6px;
}

table.dataTable, table.dataTable.no-footer{
    border-left: 1px solid #bba967;
    width: calc(100% - 2px) !important;
    font-size: 1rem;
}

table.dataTable thead th{
    position: -webkit-sticky;
    position: sticky;
    background-color: #b0a77d;
    top: 0;
}

table.dataTable thead th.upper-row{
    position: -webkit-sticky;
    position: sticky;
    background-color: #b0a77d;
    height: 36px;
    top: 0;
}

table.dataTable thead th.lower-row{
    position: -webkit-sticky;
    position: sticky;
    background-color: #b0a77d;
    height: 22px;
    top: 46px;
}

table.dataTable tbody td, table.dataTable tfoot td{
    border: 1px solid #bba967;
}

table.dataTable tfoot td{
    font-weight: bold;
}

div.dataTables_scrollBody{
    background-color: inherit !important;
}

table.dataTable .center-column{
    text-align: center;
}

img.alttp-sprite {
    height: auto;
    max-height: 32px;
    min-height: 14px;
}

.item-acquired{
    background-color: #d3c97d;
}

#tracker-navigation {
    display: inline-flex;
    background-color: #b0a77d;
    margin: 0.5rem;
    border-radius: 4px;
}

.tracker-navigation-button {
    display: block;
    margin: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: lighter;
}

.tracker-navigation-button:hover {
    background-color: #e2eabb !important;
}

.tracker-navigation-button.selected {
    background-color: rgb(220, 226, 189);
}

@media all and (max-width: 1700px) {
    table.dataTable thead th.upper-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 27px;
        top: 0;
    }

    table.dataTable thead th.lower-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 20px;
        top: 37px;
    }

    table.dataTable, table.dataTable.no-footer{
        font-size: 0.8rem;
    }

    img.alttp-sprite {
        height: auto;
        max-height: 24px;
        min-height: 10px;
    }
}

@media all and (max-width: 1400px) {
    table.dataTable thead th.upper-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 22px;
        top: 0;
    }

    table.dataTable thead th.lower-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 19px;
        top: 32px;
    }

    table.dataTable, table.dataTable.no-footer{
        font-size: 0.6rem;
    }

    img.alttp-sprite {
        height: auto;
        max-height: 20px;
        min-height: 10px;
    }
}
