html{
    background-image: url('../static/backgrounds/dirt/dirt-0005-large.png');
    background-repeat: repeat;
    background-size: 900px 900px;
}

#tracker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.table-wrapper{
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 1rem;
}

#tracker-header-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 20px;
}

#search{
    width: 200px;
    height: 20px;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

#multi-stream-link{
    margin-right: 1rem;
}

div.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border: none;
}

table.dataTable tbody{
    background-color: #dce2bd;
}

table.dataTable tbody tr:hover{
    background-color: #e2eabb;
}

table.dataTable tbody td{
    padding: 4px 6px;
}

table.dataTable, table.dataTable.no-footer{
    border-left: 1px solid #bba967;
    width: calc(100% - 2px) !important;
    font-size: 1rem;
}

table.dataTable thead th{
    position: -webkit-sticky;
    position: sticky;
    background-color: #b0a77d;
    top: 0;
}

table.dataTable thead th.upper-row{
    position: -webkit-sticky;
    position: sticky;
    background-color: #b0a77d;
    height: 36px;
    top: 0;
}

table.dataTable thead th.lower-row{
    position: -webkit-sticky;
    position: sticky;
    background-color: #b0a77d;
    height: 22px;
    top: 46px;
}

table.dataTable tbody td{
    border: 1px solid #bba967;
}

div.dataTables_scrollBody{
    background-color: inherit !important;
}

table.dataTable .center-column{
    text-align: center;
}

img.alttp-sprite {
    height: auto;
    max-height: 32px;
    min-height: 14px;
}

.item-acquired{
    background-color: #d3c97d;
}

@media all and (max-width: 1700px) {
    table.dataTable thead th.upper-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 27px;
        top: 0;
    }

    table.dataTable thead th.lower-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 20px;
        top: 37px;
    }

    table.dataTable, table.dataTable.no-footer{
        font-size: 0.8rem;
    }

    img.alttp-sprite {
        height: auto;
        max-height: 24px;
        min-height: 10px;
    }
}

@media all and (max-width: 1400px) {
    table.dataTable thead th.upper-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 22px;
        top: 0;
    }

    table.dataTable thead th.lower-row{
        position: -webkit-sticky;
        position: sticky;
        background-color: #b0a77d;
        height: 19px;
        top: 32px;
    }

    table.dataTable, table.dataTable.no-footer{
        font-size: 0.6rem;
    }

    img.alttp-sprite {
        height: auto;
        max-height: 20px;
        min-height: 10px;
    }
}
