html{
    background-image: url('../static/backgrounds/grass/grass-0007-large.png');
    background-repeat: repeat;
    background-size: 650px 650px;
}

#tutorial-landing{
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 1rem 1rem 3rem;
    color: #eeffeb;
}

#tutorial-landing p{
    margin: 0;
}

#tutorial-landing a{
    color: #ffef00;
    text-decoration: none;
}

#tutorial-landing h1{
    font-size: 2.5rem;
    font-weight: normal;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 4px #000000;
}

#tutorial-landing h2{
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #ffe993;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px #000000;
}

#tutorial-landing h3{
    font-size: 1.70rem;
    font-weight: normal;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;
}

#tutorial-landing h4{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

#tutorial-landing h5{
    font-size: 1.25rem;
    font-weight: normal;
}

#tutorial-landing h6{
    font-size: 1.25rem;
    font-weight: normal;
    color: #434343;
}

#tutorial-landing h3, #tutorial-landing h4, #tutorial-landing h5,#tutorial-landing h6{
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#tutorial-landing ul{

}

#tutorial-landing ol{

}

#tutorial-landing li{

}

#tutorial-landing pre{
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    background-color: #ffeeab;
    border: 1px solid #9f916a;
    border-radius: 6px;
    color: #000000;
}

#tutorial-landing code{
    background-color: #ffeeab;
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}
