#tutorial-wrapper{
    margin-left: auto;
    margin-right: auto;
}

#tutorial-wrapper h1{
    font-size: 2.5rem;
    font-weight: normal;
    border-bottom: 1px solid #9f916a;
    cursor: pointer;
    width: 100%;
}

#tutorial-wrapper h2{
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 1px solid #9f916a;
    cursor: pointer;
    width: 100%;
}

#tutorial-wrapper h3{
    font-size: 1.75rem;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
    width: 100%;
}

#tutorial-wrapper h4{
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
}

#tutorial-wrapper h5{
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
}

#tutorial-wrapper h6{
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
    color: #434343;
}

#tutorial-wrapper ul{

}

#tutorial-wrapper ol{

}

#tutorial-wrapper li{

}

#tutorial-wrapper a{

}

#tutorial-wrapper pre{
    padding: 0.5rem 0.25rem;
    background-color: #dce2bd;
    border: 1px solid #9f916a;
    border-radius: 6px;
}

#tutorial-wrapper code{
    background-color: #dce2bd;
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#tutorial-wrapper #tutorial-video-container{
    width: 100%;
    text-align: center;
}
