html{
    background-image: url('../static/backgrounds/grass/grass-0007-large.png');
    background-repeat: repeat;
    background-size: 650px 650px;
}

#weighted-settings{
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 1rem;
    color: #eeffeb;
}

#weighted-settings code{
    background-color: #d9cd8e;
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}

#weighted-settings h1{
    font-size: 2.5rem;
    font-weight: normal;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 4px #000000;
}

#weighted-settings h2{
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #ffe993;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px #000000;
}

#weighted-settings h3, #weighted-settings h4, #weighted-settings h5, #weighted-settings h6{
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#weighted-settings .instructions{
    text-align: left;
}

#weighted-settings #settings-wrapper .setting-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

#weighted-settings #settings-wrapper .setting-wrapper .title-span{
    font-weight: 600;
    font-size: 1.25rem;
}

#weighted-settings #settings-wrapper{
    margin-top: 1.5rem;
}

#weighted-settings #settings-wrapper #sprite-picker{
    margin-bottom: 2rem;
}

#weighted-settings #settings-wrapper #sprite-picker #sprite-picker-sprites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#weighted-settings #settings-wrapper #sprite-picker .sprite-img-wrapper{
    cursor: pointer;
    margin: 10px;
    image-rendering: pixelated;
}

/* Center tooltip text for sprite images */
#weighted-settings #settings-wrapper #sprite-picker .sprite-img-wrapper::after{
    text-align: center;
}

#weighted-settings #settings-wrapper #sprite-picker .sprite-img-wrapper img{
    width: 32px;
    height: 48px;
}

#weighted-settings table.option-set{
    width: 100%;
    margin-bottom: 1.5rem;
}

#weighted-settings table.option-set td.option-name{
    width: 150px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

#weighted-settings table.option-set td.option-name .delete-button{
    cursor: pointer;
}

#weighted-settings table.option-set td.option-value{
    line-height: 2rem;
}

#weighted-settings table.option-set td.option-value input[type=range]{
    width: 90%;
    min-width: 300px;
    vertical-align: middle;
}

#weighted-settings #weighted-settings-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#weighted-settings a{
    color: #ffef00;
}

#weighted-settings input:not([type]){
    border: 1px solid #000000;
    padding: 3px;
    border-radius: 3px;
    min-width: 150px;
}

#weighted-settings input:not([type]):focus{
    border: 1px solid #ffffff;
}

#weighted-settings select{
    border: 1px solid #000000;
    padding: 3px;
    border-radius: 3px;
    min-width: 150px;
    background-color: #ffffff;
}

