html{
    scroll-padding-top: 90px;
}

#weighted-settings #games-wrapper{
    width: 100%;
}

#weighted-settings .setting-wrapper{
    width: 100%;
    margin-bottom: 2rem;
}

#weighted-settings .setting-wrapper .add-option-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

#weighted-settings .setting-wrapper .add-option-div button{
    width: auto;
    height: auto;
    margin: 0 0 0 0.15rem;
    padding: 0 0.25rem;
    border-radius: 4px;
    cursor: default;
}

#weighted-settings .setting-wrapper .add-option-div button:active{
    margin-bottom: 1px;
}

#weighted-settings .jump-link{
    color: #ffef00;
    cursor: pointer;
    text-decoration: underline;
}

#weighted-settings table{
    width: 100%;
}

#weighted-settings table th, #weighted-settings table td{
    border: none;
}

#weighted-settings table td{
    padding: 5px;
}

#weighted-settings table .td-left{
    font-family: LexendDeca-Regular, sans-serif;
    padding-right: 1rem;
    width: 200px;
}

#weighted-settings table .td-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 1rem;
}

#weighted-settings table .td-right{
    width: 4rem;
    text-align: right;
}

#weighted-settings table .td-delete{
    width: 50px;
    text-align: right;
}

#weighted-settings table .range-option-delete{
    cursor: pointer;
}

#weighted-settings #weighted-settings-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

#weighted-settings .game-options, #weighted-settings .rom-options{
    display: flex;
    flex-direction: column;
}

#weighted-settings .invisible{
    display: none;
}

@media all and (max-width: 1000px), all and (orientation: portrait){
    #weighted-settings .game-options{
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #game-options table label{
        display: block;
        min-width: 200px;
    }
}
