name: type check

on:
  pull_request:
    paths:
      - "**.py"
      - ".github/pyright-config.json"
      - ".github/workflows/strict-type-check.yml"
      - "**.pyi"
  push:
    paths:
      - "**.py"
      - ".github/pyright-config.json"
      - ".github/workflows/strict-type-check.yml"
      - "**.pyi"

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip pyright==1.1.392.post0
          python ModuleUpdate.py --append "WebHostLib/requirements.txt" --force --yes

      - name: "pyright: strict check on specific files"
        run: python .github/type_check.py
