# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: unittests

on:
  push:
    paths:
      - '**'
      - '!docs/**'
      - '!setup.py'
      - '!*.iss'
      - '!.gitignore'
      - '!.github/workflows/**'
      - '.github/workflows/unittests.yml'
  pull_request:
    paths:
      - '**'
      - '!docs/**'
      - '!setup.py'
      - '!*.iss'
      - '!.gitignore'
      - '!.github/workflows/**'
      - '.github/workflows/unittests.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Test Python ${{ matrix.python.version }} ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python:
          - {version: '3.8'}
          - {version: '3.9'}
          - {version: '3.10'}
          - {version: '3.11'}
        include:
          - python: {version: '3.8'}  # win7 compat
            os: windows-latest
          - python: {version: '3.11'}  # current
            os: windows-latest
          - python: {version: '3.11'}  # current
            os: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python.version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python.version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-subtests pytest-xdist
        python ModuleUpdate.py --yes --force --append "WebHostLib/requirements.txt"
        python Launcher.py --update_settings  # make sure host.yaml exists for tests
    - name: Unittests
      run: |
        pytest -n auto
