<p>Please report any issues to us in the help menu above or in Discord! A partial list of what's skipped so far:</p>
<ul>
    <li>The entire Bowser's Castle prologue section is skipped. Game starts at Mario's Pad.</li>
    <li>No Toad to talk to you in Mario's Pad. Just mash B to get off the wall and leave immediately.</li>
    <li>You can get Mallow as soon as you enter Mushroom Kingdom.</li>
    <li>You can go fight Croco 1 as soon as you recruit Mallow. All cutscenes with Croco in Bandit's Way are gone, and
        the end of battle cutscene is the same as the Croco 2 one ("Here's your stuff!") to avoid potential issues with
        a future randomizer feature...
    </li>
    <li>You can get the frog coin in the Mushroom kingdom castle entryway (jumping on the toad's head) on first entry of
        the castle until after you defeat Bundt.
    </li>
    <li>Belome text and flood cutscene is removed entirely.</li>
    <li>Tadpole Pond is optional. You never have to talk to Frogfucius for anything.</li>
    <li>Rose Town is optional. There is no Geno cutscene, just go straight to the Forest Maze.</li>
    <li>Bowyer fight starts immediately. There is no cutscene with Geno prior to the fight.</li>
    <li>You can walk as soon as the Punchinello fight ends. There is no bomb exploding cutscene. Because of this, the
        battle end event is no longer skipped due to the cutscene, so Punchinello actually rewards a tiny bit of exp.
    </li>
    <li>Bundt fight starts immediately upon returning all four of Peach's items to Booster in the chapel.</li>
    <li>After the Bundt fight, you can go directly to Star Hill.</li>
    <li>After Star Hill, you can go directly to the Sea.</li>
    <li>In Monstro Town, you only have to talk to Monstro Mama to progress the story.</li>
    <li>Valentina cutscenes are removed.  Blue Shamans in Nimbus Land are glitched as a result of this, but it does not
        appear to affect progression.
    </li>
    <li>You can go straight to the bus to Bowser's Keep after Barrel Volcano. No throne room cutscene required.</li>
    <li>In the Factory, the Pounder fight is skipped. This is unintentional, but a result of skipping most of the
        cutscenes in the final Factory gauntlet before Smithy. This should be fixed in a future version of the patch.
    </li>
    <li>In general, the amount of text in any remaining cutscenes is drastically reduced.</li>
</ul>
