{# Recursive template to show flag UI elements on randomize page. #}

<div class="flag-container {% for mode in flag.modes %} flag-{{ mode }}{% endfor %}">
    {% if is_radio %}
        <input type="radio" class="flag-form-input flag-form-input-radio flag-{{ flag.value }}"
               id="flag-{{ flag.value }}{{ parent_value }}" {% if checked %}checked{% endif %}
               name="flag{{ parent_value }}-choice" value="{{ flag.value }}">
    {% else %}
        <input type="checkbox" class="flag-form-input flag-form-input-checkbox flag-{{ flag.value }}"
               id="flag-{{ flag.value }}{{ parent_value }}"
               name="flag-{{ flag.value }}{{ parent_value }}">
    {% endif %}
    <div class="flag-{% if is_radio %}radio{% else %}checkbox{% endif %}-container">
        <label for="flag-{{ flag.value }}{{ parent_value }}"
            {% if is_radio %}
                class="flag-radio {% if choice.hard %}flag-radio-hard{% endif %}"
            {% else %}
                class="flag-checkbox {% if flag.hard %}flag-checkbox-hard{% endif %}"
            {% endif %}
        >
            {# If the value begins with '@', this is a flag where some choices must be selected. #}
            {% if flag.value|slice:":1" == "@" %}
                ...
            {% else %}
                {{ flag.value }}
            {% endif %}
        </label>
    </div>
    <div class="flag-subsection-container">
        <label for="flag-{{ flag.value }}{{ parent_value }}" class="flag-label">
            {{ flag.name }}
        </label>
        <div class="flag-subsection">
            <div class="flag-description">{{ flag.description_as_markdown }}</div>

            {# Show flag choices, if any. #}
            {% for choice in flag.choices %}
                {% include 'randomizer/_show_flag_ui.html' with flag=choice parent_value='-'|add:flag.value|add:parent_value is_radio=True checked=forloop.first %}
            {% endfor %}

            {# Show other flag options, if any. #}
            {% for option in flag.options %}
                {% include 'randomizer/_show_flag_ui.html' with flag=option parent_value='-'|add:flag.value|add:parent_value is_radio=False checked=False %}
            {% endfor %}
        </div>
    </div>
</div>
